@import "../../../helper";

.header-wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 50px;
	height: auto;
	margin-bottom: 15px;

	.title-wrap {
		display: flex;
		flex-direction: row;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;

		h1 {
			color: #000;
			font-family: "Inter";
			font-weight: 600;
		}
	}

	.actions-wrap {
		display: flex;
		gap: 20px;
	}

	.action-style {
		width: auto;
		height: 30px;
		border-radius: 5px;
		background-color: darken(#f9fbfc, 2%);
		border: 1px solid $swatch_1;
		box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
			rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
		padding: 5px;
		display: flex;
		gap: 5px;
		align-items: center;
		justify-content: space-around;

		&:hover {
			cursor: pointer;
		}
	}

	.document-btn {
		padding: 5px 7px 5px 7px;
		width: 50px;
	}
}

.payment-content {
	display: flex;
	flex-direction: column;
	// height: calc(100vh - 200px);
	height: auto;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px;
	background-color: white;
	border-radius: 10px;
	padding: 75px;
	gap: 35px;

	.header-info {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		width: 100%;
		height: 65px;
	}

	.info-section {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: auto;

		.order-info {
			display: flex;
			flex-direction: column;
			gap: 25px;
			width: 20%;

			div {
				display: flex;
				flex-direction: column;
				gap: 6px;
			}

			a {
				color: black !important;

				&:hover {
					cursor: pointer;
					text-decoration: underline;
				}
			}
		}

		.items-in-order-container {
			width: 80%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: start;

			h4 {
				margin-bottom: 25px;
			}

			table {
				@include table-style;
				@include thead;
				@include tbody;

				thead td {
					font-weight: 800;
					font-size: 14px;
					color: #7e8082 !important;
					padding: 10px;
					padding-left: 3rem;
				}
				tbody td {
					font-size: 0.9rem;
					color: #7e8082 !important;
					padding: 0;
					padding-left: 3rem;
				}

				.status {
					div {
						display: flex;
						align-items: center;
						gap: 2px;
					}
				}
			}
		}
	}
}

// Invoice Template CSS
.invoice-box {
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 30px;
	border: 1px solid #eee;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	font-size: 16px;
	line-height: 24px;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	color: #555;
}

.invoice-box table {
	width: 100%;
	line-height: inherit;
	text-align: left;
}

.invoice-box table td {
	padding: 5px;
	vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
	text-align: right;
}

.invoice-box table tr.top table td {
	padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
	font-size: 45px;
	line-height: 45px;
	color: #333;
}

.invoice-box table tr.information table td {
	padding-bottom: 40px;
}

.invoice-box table tr.heading td {
	background: #eee;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
}

.invoice-box table tr.details td {
	padding-bottom: 20px;
}

.invoice-box table tr.item td {
	border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
	border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
	border-top: 2px solid #eee;
	font-weight: bold;
}

@media only screen and (max-width: 600px) {
	.invoice-box table tr.top table td {
		width: 100%;
		display: block;
		text-align: center;
	}

	.invoice-box table tr.information table td {
		width: 100%;
		display: block;
		text-align: center;
	}
}

/** RTL **/
.invoice-box.rtl {
	direction: rtl;
	font-family: Tahoma, "Helvetica Neue", "Helvetica", Helvetica, Arial,
		sans-serif;
}

.invoice-box.rtl table {
	text-align: right;
}

.invoice-box.rtl table tr td:nth-child(2) {
	text-align: left;
}

@media print {
	body * {
		visibility: hidden;
	}
	#section-to-print,
	#section-to-print * {
		visibility: visible;
	}
	#section-to-print {
		position: absolute;
		left: 0;
		top: 0;
	}
}

#section-to-print {
	visibility: hidden;
}
