/* scss helper file */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Fira Sans";
}

input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button:hover,
a:hover,
input:hover {
  cursor: pointer;
}

input:focus {
  cursor: text;
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  color: #000;
}

.hidden {
  display: none;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  height: auto;
  margin-bottom: 15px;
}

.header-wrap .title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-direction: column;
      flex-direction: column;
}

.header-wrap .title-wrap h1 {
  color: #000;
  font-family: "Inter";
  font-weight: 600;
}

.header-wrap .action-style {
  width: auto;
  height: 30px;
  border-radius: 5px;
  background-color: #f2f6f9;
  border: 1px solid #e8edf5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-wrap .action-style:hover {
  cursor: pointer;
}

.header-wrap .document-btn {
  padding: 5px 7px 5px 7px;
  width: 50px;
}

.payment-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px;
  background-color: white;
  border-radius: 10px;
  padding: 75px;
  gap: 35px;
}

.payment-content .header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 65px;
}

.payment-content .info-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: auto;
}

.payment-content .info-section .order-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  width: 20%;
}

.payment-content .info-section .order-info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}

.payment-content .info-section .order-info a {
  color: black !important;
}

.payment-content .info-section .order-info a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.payment-content .info-section .items-in-order-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.payment-content .info-section .items-in-order-container h4 {
  margin-bottom: 25px;
}

.payment-content .info-section .items-in-order-container table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #e8edf5;
  display: table;
}

.payment-content .info-section .items-in-order-container table td {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #7e8082 !important;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  padding-left: 3rem;
}

.payment-content .info-section .items-in-order-container table a:hover {
  text-decoration: underline;
}

.payment-content .info-section .items-in-order-container table thead tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e8edf5;
  background-color: #f9fbfc;
}

.payment-content .info-section .items-in-order-container table thead td {
  font-weight: 800;
  font-size: 14px;
  padding: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3rem;
  color: #7e8082 !important;
}

.payment-content .info-section .items-in-order-container table tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
  border: 1px solid #e8edf5;
  background: white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.payment-content .info-section .items-in-order-container table tbody tr:hover {
  background-color: #f5f5f5;
  color: #575758 !important;
}

.payment-content .info-section .items-in-order-container table tbody tr:hover a {
  color: #575758 !important;
}

.payment-content .info-section .items-in-order-container table thead td {
  font-weight: 800;
  font-size: 14px;
  color: #7e8082 !important;
  padding: 10px;
  padding-left: 3rem;
}

.payment-content .info-section .items-in-order-container table tbody td {
  font-size: 0.9rem;
  color: #7e8082 !important;
  padding: 0;
  padding-left: 3rem;
}

.payment-content .info-section .items-in-order-container table .status div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
}
/*# sourceMappingURL=payment-profile.css.map */