$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;
$primary-purple: #7470fb;
$dark-purple: #3d354b;
$second-dark-purple: #3f3539;
$white-1: #edf5fc;
$white-2: #fafafb;
$light-grey: #b1aec2;
$card-pool: #e8edf5;

$main-color: #1a202e;
$color-dark: #1d2231;
$text-grey: #8390a2;

// Main Color Scheme
$swatch_1: #e8edf5;
$swatch_2: #050505;
$swatch_3: #b4becc;
$swatch_4: #354250;
$swatch_5: #717987;
$bluetext: #0d2238;

*,
*:before,
*:after {
	box-sizing: border-box;
}

a,
a:visited,
a:focus,
a:hover,
a:active {
	text-decoration: none;
	color: #7e8082 !important;
}

.header-wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 50px;
	height: 75px;
	margin-bottom: 15px;

	.title-wrap {
		width: auto;
		height: 100%;
		display: flex;
		flex-direction: row;
		gap: 25px;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;

		h1 {
			color: #000;
			font-family: "Inter";
			font-weight: 600;
		}

		h3 {
			color: $swatch_5;
		}
	}

	.actions-wrap {
		height: 100%;
		width: auto;
		display: flex;
		align-items: center;
		gap: 15px;
		align-items: flex-end;

		.action-style {
			height: 30px;
			width: 150px;
			border-radius: 5px;
			background-color: darken(#f9fbfc, 2%);
			border: 1px solid $swatch_1;
			box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
				rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
			padding: 5px;
			display: flex;
			gap: 5px;
			align-items: center;
			justify-content: space-around;

			&:hover {
				cursor: pointer;
			}
		}

		.documentBtn {
			width: 50px;
		}
	}
}
.hidden {
	display: none;
}

.customer-content {
	display: flex;
	flex-direction: row;
	height: calc(100vh - 225px);
	gap: 20px;

	.left-container {
		width: 60%;
		height: 100%;
		display: flex;
		flex-direction: column;
		background-color: white;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px;
		border-radius: 10px;

		.chat-box {
			width: 100%;
			height: 100%;
			border-radius: 10px;

			.chat-body {
				height: 70%;
				padding: 40px;
				display: flex;
				flex-direction: column-reverse;
				overflow-y: auto;
				gap: 20px;

				.message-box {
					width: 100%;
					height: auto;
				}

				.reply {
					float: right;
					display: flex;
					align-items: center;
					height: auto;
					width: auto;
					max-width: 600px;
					background-color: lightcoral;
					padding: 13px 20px 13px 20px;
					border-radius: 20px 5px 20px 20px;
					word-break: break-word;
				}
				.received {
					float: left;
					display: flex;
					align-items: center;
					height: auto;
					width: auto;
					max-width: 600px;
					background-color: $bluetext;
					color: white;
					padding: 13px 20px 13px 20px;
					border-radius: 5px 20px 20px 20px;
					word-break: break-word;
				}
			}

			.chat-send-wrap {
				width: 100%;
				height: 30%;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 20px;

				.chat-send-content {
					width: 100%;
					height: 100%;
					border: 2px solid #eaeaec;
					border-radius: 10px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					textarea {
						width: 100%;
						height: 70%;
						border: none;
						border-bottom: 2px solid #eaeaec;
						border-top-right-radius: 10px;
						border-top-left-radius: 10px;
						outline: none;
						padding: 10px;
					}

					div {
						width: 100%;
						height: 30%;
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: space-between;

						.canned-messages {
							width: 70%;
							height: 100%;
						}

						button {
							margin: 10px 15px 10px 0;
							width: 85px;
							height: 30px;
							padding: 5px;
							outline: none;
							display: flex;
							align-items: center;
							justify-content: center;
							gap: 7px;
							border-radius: 5px;
							border: none;
							background-color: lighten(#5ab0ff, 2%);
							box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
								rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
							color: white;
							font-weight: 600;
						}
					}
				}
			}
		}
	}

	.right-container {
		overflow-y: auto;
		width: 40%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: white;
		gap: 25px;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px;
		padding: 25px;
		border-radius: 10px;

		.heading {
			width: 100%;
			height: 40px;
			margin-bottom: -4%;
			display: flex;
			justify-content: space-between;

			span {
				color: $light-grey;
				transition: 0.3s ease-in-out;
				transform: scale(1.1);

				&:hover {
					transition: 0.3s ease-in-out;
					transform: scale(1.1);
					color: black;
					cursor: pointer;
				}
			}
		}

		.edit-field {
			border-radius: 5px;
			height: 25px;
			border: 1px solid #95a9c6;
			text-indent: 10px;

			&::placeholder {
				color: black;
			}
		}

		.quick-info-wrap {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 15px;

			div {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				gap: 15px;
			}
		}

		.ticket-info-wrap {
			width: 100%;
			display: flex;
			gap: 7px;
			flex-direction: column;

			.status-selects,
			.issue-selects {
				-webkit-appearance: none;
				border: none;
				outline: none;
				background-color: transparent;
				margin-left: 2px;
				font-weight: 600;
				font-size: 14px;
				&:hover {
					cursor: pointer;
					background-color: ghostwhite;
					border: 1px solid lightgray;
					border-radius: 5px;
				}
			}

			.info-wrap {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				gap: 15px;
				margin-bottom: 10px;

				.item-style {
					display: flex;
					align-items: center;
					gap: 12px;

					span {
						color: #95a9c6;
					}

					#shipping-details {
						display: flex;
						flex-direction: row;
						gap: 10px;
						justify-content: center;
						align-items: center;
					}

					#add-tracking-info {
						height: 30px;
						width: 150px;
						border-radius: 5px;
						background-color: darken(#f9fbfc, 2%);
						border: 1px solid $swatch_1;
						box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
							rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
						padding: 5px;
						display: flex;
						gap: 5px;
						align-items: center;
						justify-content: space-around;

						&:hover {
							cursor: pointer;
						}
					}

					.tracking-field {
						display: none;
						gap: 5px;

						div {
							display: flex;
							justify-content: center;
							flex-direction: column;
						}
					}
				}
			}
		}

		.contact-info-wrap {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 10px;

			.info-wrap {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				gap: 15px;
				margin-bottom: 10px;

				.item-style {
					display: flex;
					align-items: center;
					gap: 12px;

					span {
						color: #95a9c6;
					}

					a {
						color: black !important;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}

		.edit-info-btn-wrap {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: 10px;

			button {
				padding: 5px 10px;

				border: 0;
				border-radius: 3px;

				&:first-child {
					border: 1px solid lightgrey;
					background-color: transparent;
				}
				&:last-child {
					color: white;
					background-color: #4caf50;
				}
			}
		}
	}
}
