$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;
$primary-purple: #7470fb;
$dark-purple: #3d354b;
$second-dark-purple: #3f3539;
$white-1: #edf5fc;
$white-2: #fafafb;
$light-grey: #b1aec2;
$card-pool: #e8edf5;

$main-color: #1a202e;
$color-dark: #1d2231;
$text-grey: #8390a2;

// Main Color Scheme
$swatch_1: #e8edf5;
$swatch_2: #050505;
$swatch_3: #b4becc;
$swatch_4: #354250;
$swatch_5: #717987;
$bluetext: #0d2238;

*,
*:before,
*:after {
	box-sizing: border-box;
}

a,
a:visited,
a:focus,
a:hover,
a:active {
	text-decoration: none;
	color: #7e8082 !important;
}

.header-wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 65px;
	width: 100%;

	.title-wrap {
		width: 100%;
		height: 100%;

		h1 {
			color: #000;
			margin-bottom: 5px;
			font-family: "Inter";
			font-weight: 600;
		}
	}
}

.hidden {
	display: none;
}

.customer-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	height: calc(100vh - 200px);
	gap: 20px;

	.container-style {
		background-color: white;
		height: 100%;
		border-radius: 10px;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px;
		display: flex;
		align-items: center;
		// justify-content: center;
		flex-direction: column;
		padding: 25px;
		gap: 25px;
	}

	.left-container {
		width: 70%;
	}
	.right-container {
		width: 30%;
		display: flex;
		flex-direction: column;

		.heading {
			width: 100%;
			height: 40px;
			margin-bottom: -5%;
			display: flex;
			justify-content: space-between;

			span {
				color: $light-grey;
				transition: 0.3s ease-in-out;
				transform: scale(1.1);

				&:hover {
					transition: 0.3s ease-in-out;
					transform: scale(1.1);
					color: black;
					cursor: pointer;
				}
			}
		}

		.edit-field {
			border-radius: 5px;
			height: 25px;
			border: 1px solid #95a9c6;
			text-indent: 10px;

			&::placeholder {
				color: black;
			}
		}

		.quick-info-wrap {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 15px;

			.name {
				display: flex;
				align-items: center;
				gap: 20px;
			}

			.tickets {
				display: flex;
				align-items: center;
				gap: 20px;
			}
		}

		.contact-info-wrap {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 10px;

			.info-wrap {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				gap: 15px;
				margin-bottom: 10px;

				.item-style {
					display: flex;
					align-items: center;
					gap: 12px;

					span {
						color: #95a9c6;
					}
				}
			}
		}

		.edit-info-btn-wrap {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: 10px;

			button {
				padding: 5px 10px;

				border: 0;
				border-radius: 3px;

				&:first-child {
					border: 1px solid lightgrey;
					background-color: transparent;
				}
				&:last-child {
					color: white;
					background-color: #4caf50;
				}
			}
		}
	}
}
