<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script defer src="/logged-in/layout/layout.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

		<link
			rel="stylesheet"
			href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
		/>
		<script
			src="https://kit.fontawesome.com/d13ba36e90.js"
			crossorigin="anonymous"
		></script>
		<link rel="stylesheet" href="logged-in/layout/layout.css" />
		<link rel="stylesheet" href="/messages.css" />
		<title>Ticket Scout</title>
	</head>
	<body>
		<div class="page-container">
			<div class="sidebar">
				<div class="sidebar-brand">
					<div class="brand-flex">
						<h2>TicketScout</h2>
						<!--ADD SVG LOGO HERE-->
						<!-- <div class="brand-icons">
							<span
								id="user-profile-icon"
								class="las la-user-circle"
							></span>
						</div> -->
					</div>
				</div>

				<div class="sidebar-menu">
					<nav>
						<ul id="navList">
							<li class="menu-item">
								<a href="dashboard" class="menu-link">
									<span>
										<i class="fas fa-house-user"></i>
									</span>
									Dashboard
								</a>
							</li>
							<li class="menu-item">
								<a href="tickets" class="menu-link">
									<span
										><i class="fas fa-clipboard-list"></i
									></span>
									Tickets
								</a>
							</li>
							<li class="menu-item">
								<a href="" class="menu-link">
									<span><i class="fas fa-user"></i></span>
									Customers
								</a>
							</li>
							<li class="menu-item">
								<a href="" class="menu-link">
									<span><i class="fas fa-toolbox"></i></span>
									Parts
								</a>
							</li>
							<li class="menu-item">
								<a href="" class="menu-link">
									<span
										><i class="fas fa-file-invoice"></i
									></span>
									Invoices
								</a>
							</li>
							<li class="menu-item">
								<a href="" class="menu-link">
									<span><i class="fas fa-wallet"></i></span>
									Estimates
								</a>
							</li>
							<br />
							<hr color="#b4becc" size="1" />
							<!-- <% if(user.admin) {%>

							<li class="menu-item">
								<a href="" class="menu-link">
									<span><i class="fas fa-toolbox"></i></span>
									Parts
								</a>
							</li>
							<li class="menu-item">
								<a href="" class="menu-link">
									<span
										><i class="fas fa-file-invoice"></i
									></span>
									Invoices
								</a>
							</li>
							<li class="menu-item">
								<a href="" class="menu-link">
									<span><i class="fas fa-wallet"></i></span>
									Estimates
								</a>
							</li> -->
						</ul>
					</nav>
					<% } %>
				</div>
				<div>
					<form class="logout-wrap" action="logout" method="POST">
						<button type="submit">Logout</button>
					</form>
				</div>
			</div>
		</div>
		<div class="main-content">
			<header>
				<div class="search-box">
					<form action="" method="">
						<input type="text" placeholder="Search for anything" />
					</form>
					<span><i class="fa fa-search"></i></span>
				</div>
				<div class="date-wrap">
					<i class="far fa-calendar-alt"></i>
					<p>Today <span id="current-date"></span></p>
				</div>
				<div class="profile-wrap">
					<div>
						<div id="time-clock" class="clock-box">
							<i class="fas fa-user-clock"></i>
						</div>
						<div class="clock-settings-wrap">
							<div class="time-settings">
								<label class="label" for=""
									>Clock-Out Time</label
								>
								<input
									class="update-account-input"
									class="clock-out-time"
									type="time"
									required
								/>
							</div>
							<div class="time-submit">
								<form action="">
									<button class="clock-in-btn" type="submit">
										<i class="fas fa-check"></i>
									</button>
								</form>
							</div>
						</div>
					</div>

					<div class="initial-box">
						<%= (user.fullname.split(' ')[0][0] +
						user.fullname.split(' ')[1][0]).toUpperCase() %>
					</div>
					<div class="name-wrap">
						<h5><%= user.fullname.split(" ")[0].charAt(0).toUpperCase() + user.fullname.split(" ")[0].substring(1) + " " + user.fullname.split(" ")[1].charAt(0).toUpperCase() + user.fullname.split(" ")[1].substring(1)%></h5>
						<small><%= user.email%></small>
					</div>
					<div class="icon-wrap">
						<i id="arrow" class="las la-angle-down"></i>
					</div>
				</div>
				<div class="dropdown">test</div>
			</header>
		</div>
		<!-- <div class="model-container" id="model_container">
			<div class="model">
				<div class="back-btn-wrap">
					<button type="text" id="profile-settings-back-btn">
						Back
					</button>
					<h2>MY ACCOUNT</h2>
				</div>
				<div class="cards-wrap">
					<div class="left-card account-settings-card">
						<form action="update-account-info" method="POST">
							<label class="label" for="">Profile Picture</label>
							<div class="update-photo-wrap">
								<img src="/assets/user1.svg" alt="" />
								<div class="button-wrap">
									<button type="button" id="upload">
										Upload New Picture
									</button>
									<button type="button" id="delete">
										Delete
									</button>
								</div>
							</div>
							<div class="update-info-wrap">
								<div>
									<label class="label" for="firstname"
										>Full Name</label
									>
									<input
										class="update-account-input"
										name="fullname"
										type="name"
										placeholder="John Smith"
										required
									/>
								</div>
								<br />
								<div>
									<label class="label" for="email"
										>Email</label
									>
									<input
										class="update-account-input"
										name="email"
										type="email"
										placeholder="test@gmail.com"
										required
									/>
								</div>
							</div>
							<br />
							<div class="submit-button-wrap">
								<button type="submit">Save Changes</button>
							</div>
						</form>
						<br />
					</div>

					<div class="right-card account-settings-card">
						<div class="top-card">
							<div class="form-wrap">
								<form action="time-clock" method="POST">
									<div class="time-clock-wrap">
										<div class="clock-out-wrap">
											<label class="label" for=""
												>Clock-Out Time</label
											>
											<input
												class="update-account-input"
												class="clock-out-time"
												type="time"
												required
											/>
										</div>

										<button type="submit">Clock-In</button>
									</div>
								</form>
							</div>
						</div>
						<div class="bottom-card">
							<form action="change-password" method="POST">
								<div class="current-psw-wrap">
									<label class="label" for=""
										>Current Password</label
									>
									<input
										class="update-account-input"
										name="current-psw"
										type="password"
										placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
										required
									/>
								</div>
								<br />
								<div class="new-psw-wrap">
									<div>
										<label class="label" for=""
											>New Password</label
										>
										<input
											class="update-account-input"
											name="new-psw"
											type="password"
											placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"
											required
										/>
									</div>
									<div>
										<label class="label" for=""
											>Confirm Password</label
										>
										<input
											class="update-account-input"
											name="confirm-new-psw"
											type="password"
											placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"
											required
										/>
									</div>
								</div>

								<div class="change-psw-btn-wrap">
									<button type="submit">
										Change Password
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<%- body %>
	</body>
</html>
