<% const fullname = user.fullname.split("")[0].charAt(0).toUpperCase() +user.fullname.split(" ")[0].substring(1) + " " +user.fullname.split(" ")[1].charAt(0).toUpperCase()+ user.fullname.split(" ")[1].substring(1) %> 
<% const initials = fullname.split("")[0].charAt(0).toUpperCase()+fullname.split(" ")[1].charAt(0).toUpperCase() %> 
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script type="module" src="/js/layout.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
		<link
			rel="stylesheet"
			href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
		/>
		<script
			src="https://kit.fontawesome.com/d13ba36e90.js"
			crossorigin="anonymous"
		></script>
		<link rel="stylesheet" href="/scss/logged-in/layout/layout.css" />
		<link rel="stylesheet" href="/messages.css" />
		<title>Ticket Scout</title>
	</head>
	<body>
		<div class="page-container">
			<div class="sidebar">
				<div class="sidebar-brand">
					<div class="brand-flex">
						<img id="logo" src="/assets/logo.svg" alt="" />
					</div>
				</div>

				<div class="sidebar-menu">
					<nav id="nav_list">
						<ul>
							<li class="menu-item">
								<a href="/dashboard" class="menu-link">
									<span>
										<i class="fi-rr-apps"></i>
									</span>
									Dashboard
								</a>
							</li>
							<li class="menu-item">
								<a href="/tickets/" class="menu-link">
									<span>
										<i class="fi-rr-receipt"></i>
									</span>
									Tickets
								</a>
							</li>
							<li class="menu-item">
								<a href="/customers/" class="menu-link">
									<span><i class="fi-rr-user"></i></span>
									Customers
								</a>
							</li>
							<li class="menu-item">
								<a href="/payments/" class="menu-link">
									<span
										><i class="fi-rr-credit-card"></i></span>
									Payments
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div class="main-content">
			<header>
				<div class="search-box">
					<input
						type="text"
						placeholder="Search for something"
						id="search_for_anything"
						autocomplete="off"
					/>
					<span><i class="fa fa-search"></i></span>
					<div class="create-new">
						<i class="fas fa-plus-square"></i>
					</div>
					<div class="create-new-dropdown">
						<div class="new-btn">Ticket</div>
						<div class="new-btn">Customer</div>
						<div class="new-btn">Payment</div>
					</div>
					<div class="search-results-dropdown"></div>
				</div>
				<div class="date-wrap">
					<i class="far fa-calendar-alt"></i>
					<p>Today <span id="current_date"></span></p>
				</div>
				<div class="profile-wrap">
					<div class="time-clock-wrap">
						<div id="time_clock" class="clock-box">
							<i class="fas fa-user-clock"></i>
						</div>
						<% if(user.timeClock.clockInTime == null) {%>
						<div class="clock-in-btn clock-btn">
							in
						</div>
						<% } else {%>
						<div class="clock-out-btn clock-btn">
							out
						</div>
						<% } %>
					</div>

					<div class="initial-box"><%= initials %></div>
					<div class="name-wrap">
						<h5><%= fullname%></h5>
						<small><%= user.email%></small>
					</div>
					<div class="icon-wrap">
						<i id="arrow" class="las la-angle-down"></i>
					</div>
				</div>
				<div class="dropdown">
					<a href="/account-settings"> Account Settings </a>
					<a href="/logout"> Logout </a>
				</div>
			</header>
		</div>
		<%- body %>
	</body>
</html>
