*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  color: #000;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  height: 75px;
}

.header-wrap .title-wrap {
  width: 150px;
  height: 100%;
}

.header-wrap .title-wrap h1 {
  color: #000;
  margin-bottom: 5px;
  font-family: "Inter";
  font-weight: 600;
}

.header-wrap .title-wrap small {
  color: #717987;
}

.header-wrap .ticket-action-container {
  width: calc(100% - 100px);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}

.header-wrap .ticket-action-container .filter-container {
  height: 100%;
  padding: 10px 0 10px 0;
  width: calc(100% - 200px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 25px;
}

.header-wrap .ticket-action-container .filter-container .search-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
}

.header-wrap .ticket-action-container .filter-container .search-wrap input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  text-indent: 10px;
  border: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.header-wrap .ticket-action-container .filter-container #search-customer-wrap {
  width: 200px;
}

.header-wrap .ticket-action-container .new-ticket-wrap {
  height: 100%;
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 15px;
}

.header-wrap .ticket-action-container .new-ticket-wrap form button {
  height: 40px;
  width: 140px;
  border-radius: 5px;
  border: 0;
  background-color: black;
  color: white;
  -webkit-box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
          box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header-wrap .ticket-action-container .new-ticket-wrap form button:hover {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card-scroll-box {
  margin-top: 10px;
  width: 100%;
  height: 95%;
  overflow-y: auto;
}

.card-scroll-box table {
  font-family: "Inter";
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #eeeeee;
  display: table;
}

.card-scroll-box table thead tr {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-scroll-box table thead tr #lastUpdatedHeader {
  text-decoration: underline;
}

.card-scroll-box table thead td {
  font-weight: 800;
  font-size: 16px;
  padding: 18px 0;
}

.card-scroll-box table tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 0;
}

.card-scroll-box table tbody tr:nth-of-type(odd) {
  background: #eeeeee;
}

.card-scroll-box table tbody tr .status-selects,
.card-scroll-box table tbody tr .issue-selects {
  -webkit-appearance: none;
  padding: 7px 40px 7px 12px;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: white;
  -webkit-box-shadow: 0 1px 3px -2px #9098a9;
          box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  outline: none;
}

.card-scroll-box table tbody tr #color {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: red;
  z-index: 999;
  display: inline-block;
}

.card-scroll-box table td {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #222;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  text-align: center;
}

.card-scroll-box table .ticket-id {
  -webkit-box-flex: 5%;
      -ms-flex: 5%;
          flex: 5%;
  margin-left: 1%;
}

.card-scroll-box table .last-update,
.card-scroll-box table .issue,
.card-scroll-box table .status,
.card-scroll-box table .customer {
  -webkit-box-flex: 6%;
      -ms-flex: 6%;
          flex: 6%;
}

.card-scroll-box table .subject {
  margin-right: 5%;
}

.card-scroll-box table a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=tickets.css.map */