<link rel="stylesheet" href="/messages.css" />

<!-- <form action="register" method="POST" id="signUpForm">
name="fullname"
name="email"
	name="storename"
name="password"
	name="storename"
</form>  -->
