<link rel="stylesheet" href="/messages.css" />
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<div class="left-container">
	<img id="logo" src="" alt="" />
	<img id="group1" src="/assets/group1.svg" alt="" />
	<img id="group2" src="/assets/group2.svg" alt="" />
	<img id="group1" src="/assets/group3.svg" alt="" />
	<!-- <img id="graphic" src="/assets/" alt="" /> -->
	<div>
		<lottie-player
			src="https://assets3.lottiefiles.com/packages/lf20_03adulip.json"
			background="transparent"
			speed="1"
			loop
			autoplay
		></lottie-player>
		<!-- <h2>SIGN IN TO START YOUR DAY</h2> -->
	</div>

	<!-- 
	<lottie-player
		src="https://assets9.lottiefiles.com/packages/lf20_rycdh53q.json"
		background="transparent"
		speed="1"
		loop
		autoplay
	></lottie-player> -->
</div>
<div class="right-container">
	<div class="action-container">
		<div class="heading">
			<h2>Login</h2>
			<small>Welcome back, login to get started</small>
		</div>
		<div class="input-wrap">
			<div>
				<label>Email address</label>
				<input type="text" placeholder="example@email.com"/>
			</div>
			<div>
				<label>Password</label>
				<input type="password" />
			</div>
		</div>
	</div>
</div>

<!-- <form action="/login" method="POST">
	//name="email"
	//name="password"
	</form> -->
