<section class="login-box">
	<header>
		<a href="/">
			<h1>ticket<span>Scout</span></h1>
			<img id="logo-img" src="/assets/ticketScoutLogo.svg" alt="" />
		</a>
	</header>
	<form action="/login" method="POST">
		<label for="email">Email</label>
		<div class="input-wrap">
			<input
				autocomplete="no"
				id="sign-in-email"
				type="email"
				name="email"
				placeholder="hello@example.com"
				required
			/>
			<i class="fa fa-user"></i>
		</div>
		<br />
		<label for="psw">Password</label>
		<div class="input-wrap">
			<input
				id="sign-in-psw"
				type="password"
				name="password"
				placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"
				required
			/>
			<i class="fa fa-lock"></i>
		</div>
		<div class="link-wrap">
			<a href="/recovery" class="forgot-psw-link1">Forgot Password?</a>
			<button id="sign-in-btn-desktop" type="submit">Sign In</button>
		</div>
		<button id="sign-in-btn-mobile" type="submit">Sign In</button>
	</form>

	<div class="sign-up-wrap">
		<p>
			Registering a store?<a href="/register" id="sign-up-link">
				Sign Up</a
			>
		</p>
	</div>
</section>

<section class="graphic-box">
	<div class="text-wrap">
		<h1>
			Welcome to <span class="first">ticket</span
			><span class="second">Scout</span>
		</h1>
		<h2 id="graphic-box-text">Sign in to start your day!</h2>
	</div>
</section>
