<link rel="stylesheet" href="/messages.css" />
<link
	rel="stylesheet"
	href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
/>
<script type="module" src="/js/login.js"></script>

<div class="left-container">
	<img id="logo" src="/assets/logged-out/logo.svg" alt="" />
	<img id="group1" src="/assets/logged-out/group1.svg" alt="" />
	<img id="group2" src="/assets/logged-out/group2.svg" alt="" />
	<img id="group1" src="/assets/logged-out/group3.svg" alt="" />
	<div>
		<lottie-player
			id="primary_lottie"
			src="https://assets2.lottiefiles.com/packages/lf20_q5pk6p1k.json"
			background="transparent"
			speed="1"
			style="width: 400px; height: 600px"
			loop
			autoplay
		></lottie-player>
		<lottie-player
			class="hidden"
			id="password_lottie"
			src="https://assets6.lottiefiles.com/packages/lf20_kwrygs18.json"
			background="transparent"
			speed="2.5"
			autoplay
			loop
		></lottie-player>
	</div>
</div>
<div class="right-container">
	<%- include('../partials/messages'); %>
	<div class="action-container">
		<div class="heading">
			<h2>Login</h2>
			<small>Welcome back, login to get started</small>
		</div>

		<form id="login_form" class="inputs" action="/login" method="POST">
			<div class="input-wrap">
				<label>Email address</label>
				<div>
					<span><i class="fi-rr-envelope icon"></i></span>
					<input
						id="email"
						type="text"
						placeholder="example@email.com"
						name="email"
						required
					/>
				</div>
			</div>
			<div class="input-wrap">
				<label>Password</label>
				<div>
					<span><i class="fi-rr-lock icon"></i></span>
					<input
						id="password"
						type="password"
						placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
						name="password"
						required
					/>
					<span><i id="eye_icon" class="fi-rr-eye"></i></span>
				</div>
			</div>
		</form>
		<div class="link-wrap">
			<a href="/admin/register"> Sign up</a>
			<a href="/recovery">Forgot password?</a>
		</div>
		<button id="login_button" form="login_form" type="button">Login</button>
	</div>
</div>
