<link rel="stylesheet" href="/messages.css" />
<link
	rel="stylesheet"
	href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
/>
<script type="module" src="/js/passwordRecovery.js"></script>

<div class="left-container">
	<img id="logo" src="/assets/logo.svg" alt="" />
	<img id="group1" src="/assets/group1.svg" alt="" />
	<img id="group2" src="/assets/group2.svg" alt="" />
	<img id="group1" src="/assets/group3.svg" alt="" />
	<div>
		<lottie-player
			id="password_lottie"
			src="https://assets6.lottiefiles.com/packages/lf20_kwrygs18.json"
			background="transparent"
			speed="2.5"
			autoplay
		></lottie-player>
	</div>
</div>
<div class="right-container">
	<%- include('../partials/messages'); %>
	<div class="action-container">
		<div class="heading">
			<h2>Reset your password</h2>
			<small>Enter in the details below</small>
		</div>

		<form
			id="reset_form"
			class="inputs"
			action="/recover-password"
			method="POST"
		>
			<div class="input-wrap">
				<label>Email address</label>
				<div>
					<span><i class="fi-rr-envelope icon"></i></span>
					<input
						id="email"
						type="text"
						placeholder="example@email.com"
						name="email"
						required
					/>
				</div>
			</div>
			<div class="input-wrap">
				<label>New Password</label>
				<div>
					<span><i class="fi-rr-lock icon"></i></span>
					<input
						id="password"
						type="password"
						placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
						name="password"
						required
					/>
					<span><i id="eye_icon" class="fi-rr-eye"></i></span>
				</div>
			</div>
			<div class="input-wrap">
				<label>Confirm New Password</label>
				<div>
					<span><i class="fi-rr-lock icon"></i></span>
					<input
						id="passwordConfirm"
						type="password"
						placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
						name="passwordConfirm"
						required
					/>
					<span><i id="eye_icon" class="fi-rr-eye"></i></span>
				</div>
			</div>
		</form>
		<div class="link-wrap">
			<a href=""></a>
			<a href="/">Login</a>
		</div>
		<button id="reset_button" form="reset_form" type="submit">Reset</button>
	</div>
</div>
