<link rel="stylesheet" href="/messages.css" />
<link
	rel="stylesheet"
	href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
/>
<script type="module" src="/js/recovery.js"></script>

<div class="left-container">
	<img id="logo" src="/assets/logo.svg" alt="" />
	<img id="group1" src="/assets/group1.svg" alt="" />
	<img id="group2" src="/assets/group2.svg" alt="" />
	<img id="group1" src="/assets/group3.svg" alt="" />
	<div>
		<lottie-player
			src="https://assets7.lottiefiles.com/packages/lf20_wsx5ph5m.json"
			background="transparent"
			speed="1"
			style="width: 300px; height: 300px"
			loop
			autoplay
		></lottie-player>
	</div>
</div>
<div class="right-container">
	<%- include('../partials/messages'); %>
	<div class="action-container">
		<div class="heading">
			<h2>Password Recovery</h2>
			<small>Enter in your email address to recover your password</small>
		</div>

		<form
			id="recovery_form"
			class="inputs"
			action="/forgot-password"
			method="POST"
		>
			<div class="input-wrap">
				<label>Email address</label>
				<div>
					<span><i class="fi-rr-envelope icon"></i></span>
					<input
						id="pass_recovery"
						type="text"
						placeholder="example@email.com"
						name="email"
						required
					/>
				</div>
			</div>
		</form>
		<div class="link-wrap">
			<a href="/"> Login</a>
			<a href="/admin/register">Sign up</a>
		</div>
		<button id="recovery_button" form="recovery_form" type="submit">
			Recover Password
		</button>
	</div>
</div>
