<link
	rel="stylesheet"
	href="/logged-in/account-settings/account-settings.css"
/>
<div class="main-content">
	<main>
		<div class="page-header">
			<div class="header-wrap">
				<div class="title-wrap">
					<h1>Account Settings</h1>
					<small>Change your profile and account settings</small>
				</div>
			</div>
		</div>
		<div class="account-settings-container"></div>
	</main>
</div>
