<link
	rel="stylesheet"
	href="/logged-in/create-new-ticket/create-new-ticket.css"
/>
<div class="main-content">
	<main>
		<div class="page-header">
			<div class="header-wrap">
				<div class="title-wrap">
					<h1>New Ticket</h1>
					<small
						>Add a new ticket by filling in the information
						below</small
					>
				</div>
			</div>
		</div>
		<div class="new-ticket-container">
			<form action="" class="create-ticket-form">
				<div class="heading-wrap">
					<h3>Customer Infomation</h3>
				</div>
				<div class="customer-info-input-wrap">
					<label for="">Firstname</label>
					<input type="text" name="firstname" id="">
					<label for="">Lastname</label>
					<input type="text" name="lastname" id="">
				</div>
			</form>
		</div>
	</main>
</div>
