<link
	rel="stylesheet"
	href="/logged-in/create-new-invoice/create-new-invoice.css"
/>

<div class="main-content">
	<main>
		<div class="page-header">
			<div class="header-wrap">
				<div class="title-wrap">
					<h1>Create new invoice</h1>
					<small>View recent tickets</small>
				</div>
			</div>
		</div>
		<div class="content_box-changeMyname">

		</div>
	</main>
</div>
