<link
	rel="stylesheet"
	href="/logged-in/create-new-estimate/create-new-estimate.css"
/>

<div class="main-content">
	<main>
		<div class="page-header">
			<div class="header-wrap">
				<div class="title-wrap">
					<h1>Create new Estimate</h1>
					<small>View recent tickets</small>
					<%- include('../partials/messages'); %>
				</div>
			</div>
		</div>
		<div class="content_box-changeMyname"></div>
	</main>
</div>
