<link rel="stylesheet" href="/scss/logged-in/dashboard/dashboard.css" />
<script type="module" src="/js/dashboard.js"></script>
<body>
	<div class="main-content">
		<main>
			<div class="page-header">
				<h1 id="greeting">
					<%= user.fullname.split(" ")[0].charAt(0).toUpperCase()+user.fullname.split(" ")[0].substring(1)%>
				</h1>
				<small>See whats happening in your account today</small>
			</div>
			<div class="master-card-layout">
				<div class="top-cards-layout">
					<div class="action-card-stack">
						<div></div>
						<div></div>
						<div></div>
					</div>
					<div class="map">
						<img src="/assets/dashboard/map.svg" alt="">
					</div>
				</div>
				<div class="bottom-cards-layout">
					<div class="recent-tickets">
						<div class="heading">
							<h3>Recent Tickets</h3>
							<button>view all</button>
						</div>
						<table></table>
					</div>
					<div class="tracking">
						<div class="tracking-area"></div>
						<div class="tracking-map">
							<img src="/assets/dashboard/trackingIllustration.svg" alt="">
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</body>
