<link rel="stylesheet" href="/logged-in/dashboard/dashboard.css" />
<script defer src="/logged-in/dashboard/dashboard.js"></script>
<body>
	<div class="main-content">
		<main>
			<div class="page-header">
				<div>
					<h1 id="greeting">
						<%= user.fullname.split(" ")[0].charAt(0).toUpperCase()
						+ user.fullname.split(" ")[0].substring(1) + " " +
						user.fullname.split(" ")[1].charAt(0).toUpperCase() +
						user.fullname.split(" ")[1].substring(1)%>
					</h1>
					<small
						>See whats happening in your ticketScout account
						today</small
					>
				</div>
			</div>

			<div class="cards-layout">
				<div class="top-cards-layout">
					<div class="card1 top-card-style"></div>
					<div class="card2 top-card-style"></div>
					<div class="card3 top-card-style"></div>
					<div class="card4 extended"></div>
				</div>
			</div>
		</main>
	</div>
</body>
