<link rel="stylesheet" href="/logged-in/overview/overview.css" />
<body>
	<div class="main-content">
		<main>
			<div class="page-header">
				<div>
					<h1>June 18th, daily overview</h1>
					<small
						>Monitor Key Metrics. Check reporting and review
						insights</small
					>
				</div>
			</div>

			<div class="cards">
				<div class="card-single">
					<div class="card-flex">
						<div class="card-info">
							<div class="card-head">
								<span>attention needed</span>
								<small
									>Number of attention needed tickets</small
								>
							</div>

							<h2>42</h2>
						</div>
						<div class="card-chart">
							<span class="las la-exclamation-circle"></span>
						</div>
					</div>
				</div>

				<div class="card-single">
					<div class="card-flex">
						<div class="card-info">
							<div class="card-head">
								<span>need to order</span>
								<small
									>Number of parts needed to be ordered</small
								>
							</div>

							<h2>2</h2>
						</div>
						<div class="card-chart">
							<span class="las la-cart-plus"></span>
						</div>
					</div>
				</div>

				<div class="card-single">
					<div class="card-flex">
						<div class="card-info">
							<div class="card-head">
								<span>customer replies</span>
								<small>Number of customer replies</small>
							</div>

							<h2>5</h2>
						</div>
						<div class="card-chart">
							<span class="lab la-rocketchat"></span>
						</div>
					</div>
				</div>

				<div class="card-single recent-ticket-card">
					<div class="card-head">
						<h3>Recent Tickets</h3>
						<button>
							See all
							<span class="las la-arrow-right"></span>
						</button>
					</div>
					<div class="card-scroll-box">
						<table>
							<thead>
								<tr>
									<td>Ticket #</td>
									<td>Customer</td>
									<td>Subject</td>
									<td>Status</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>20653</td>
									<td>John Smith</td>
									<td>iPhone Xr Screen replacement</td>
									<td>
										<span class="status"></span>
										In Progress
									</td>
								</tr>
								<tr>
									<td>20653</td>
									<td>John Smith</td>
									<td>iPhone Xr Screen replacement</td>
									<td>
										<span class="status"></span>
										In Progress
									</td>
								</tr>
								<tr>
									<td>20653</td>
									<td>John Smith</td>
									<td>iPhone Xr Screen replacement</td>
									<td>
										<span class="status"></span>
										In Progress
									</td>
								</tr>
								<tr>
									<td>20653</td>
									<td>John Smith</td>
									<td>iPhone Xr Screen replacement</td>
									<td>
										<span class="status"></span>
										In Progress
									</td>
								</tr>
								<tr>
									<td>20653</td>
									<td>John Smith</td>
									<td>iPhone Xr Screen replacement</td>
									<td>
										<span class="status"></span>
										In Progress
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="card-single task-card">
					<div class="card-flex">
						<div class="card-info">
							<div class="card-head">
								<h3>Tasks</h3>
							</div>
						</div>
					</div>
				</div>

				<div class="card-single extra-card">
					<div class="card-flex">
						<div class="card-info">
							<div class="card-head">
								<h3>Extra card</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</body>
