<link rel="stylesheet" href="/logged-in/tickets/tickets.css" />
<script defer src="/logged-in/tickets/tickets.js"></script>
<div class="main-content">
	<main>
		<div class="page-header">
			<div class="header-wrap">
				<div class="title-wrap">
					<h1>Tickets</h1>
					<small>View recent tickets</small>
				</div>
				<div class="ticket-action-container">
					<div class="filter-container">filters go here</div>
					<div class="new-ticket-wrap">
						<form action="/new-ticket" method="GET">
							<button type="submit">New Ticket</button>
						</form>
					</div>
				</div>
			</div>
			<div class="card-scroll-box">
				<table>
					<thead>
						<tr>
							<td class="ticket-id">Ticket ID</td>
							<td class="customer">Customer</td>
							<td class="subject">Subject</td>
							<td class="status">Status</td>
							<td class="last-update">Last Updated</td>
							<td class="issue">Issue</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="ticket-id">
								<a class="ticket_link" href="/tickets/"
									>20653</a
								>
							</td>
							<td class="customer">
								<a class="customer_link" href="/customers/"
									>John Smith</a
								>
							</td>
							<td class="subject">
								<a href="/tickets/"
									>iPhone Xr Screen replacement</a
								>
							</td>
							<td class="status">
								<span class="status"></span>
								<select name="status" id="status">
									<option value="in_progress">
										In Progess
									</option>
									<option value="new">New</option>
									<option value="waiting_for_customer">
										Waiting for customer
									</option>
								</select>
							</td>
							<td class="last-update">3 hours ago</td>
							<td class="issue">
								<select name="issue" id="issue">
									<option value="repair">Repair</option>
									<option value="warranty">warranty</option>
								</select>
							</td>
						</tr>
						<tr>
							<td class="ticket-id">
								<a class="ticket_link" href="/tickets/"
									>20653</a
								>
							</td>
							<td class="customer">
								<a class="customer_link" href="/customers/"
									>John Smith</a
								>
							</td>
							<td class="subject">
								<a href="">iPhone Xr Screen replacement</a>
							</td>
							<td class="status">
								<span class="status"></span>
								<select name="status" id="status">
									<option value="in_progress">
										In Progess
									</option>
									<option value="new">New</option>
									<option value="waiting_for_customer">
										Waiting for customer
									</option>
								</select>
							</td>
							<td class="last-update">3 hours ago</td>
							<td class="issue">
								<select name="issue" id="issue">
									<option value="repair">Repair</option>
									<option value="warranty">warranty</option>
								</select>
							</td>
						</tr>
						<tr>
							<td class="ticket-id">
								<a class="ticket_link" href="/tickets/"
									>20653</a
								>
							</td>
							<td class="customer">
								<a class="customer_link" href="/customers/"
									>John Smith</a
								>
							</td>
							<td class="subject">
								<a href="">iPhone Xr Screen replacement</a>
							</td>
							<td class="status">
								<span class="status"></span>
								<select name="status" id="status">
									<option value="in_progress">
										In Progess
									</option>
									<option value="new">New</option>
									<option value="waiting_for_customer">
										Waiting for customer
									</option>
								</select>
							</td>
							<td class="last-update">3 hours ago</td>
							<td class="issue">
								<select name="issue" id="issue">
									<option value="repair">Repair</option>
									<option value="warranty">warranty</option>
								</select>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>
</div>
