<link rel="stylesheet" href="/logged-in/ticket-profile/ticket-profile.css" />
<link rel="stylesheet" href="/logged-in/layout/layout.css" />
<script defer src="/logged-in/ticket-profile/ticket-profile.js"></script>
<div class="main-content">
	<main>
		<div class="page-header">
			<div class="header-wrap">
				<div class="title-wrap">
					<h1>ticket profile</h1>
					<small>View recent tickets</small>
				</div>

			<div></div>
		</div>
	</main>
</div>