<link rel="stylesheet" href="/logged-in/tickets/tickets.css" />
<div class="main-content">
	<main>
		<div class="page-header">
			<div class="header-wrap">
				<h1>June 18th, daily overview</h1>
				<small
					>Monitor Key Metrics. Check reporting and review
					insights</small
				>
			</div>
			<div class="main-content">
				<h2>test</h2>
			</div>
		</div>
	</main>
</div>
