<link rel="stylesheet" href="/logged-in/tickets/tickets.css" />
<div class="main-content">
	<main>
		<div class="page-header">
			<div class="header-wrap">
				<h1>Tickets</h1>
				<small>View recent tickets</small>
			</div>
			<div class="card-scroll-box">
				<table>
					<thead>
						<tr>
							<td class="ticket-id">Ticket #</td>
							<td class="customer">Customer</td>
							<td class="subject">Subject</td>
							<td class="status">Status</td>
							<td class="last-update">Last Updated</td>
							<td class="issue">Issue</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="ticket-id">20653</td>
							<td class="customer">John Smith</td>
							<td class="subject">iPhone Xr Screen replacement</td>
							<td class="status">
								<span class="status"></span>
								In Progress
							</td>
							<td class="last-update">3 hours ago</td>
							<td class="issue">repair</td>
						</tr>
						<tr>
							<td class="ticket-id">20653</td>
							<td class="customer">John Smith</td>
							<td class="subject">iPhone Xr Screen replacement</td>
							<td class="status">
								<span class="status"></span>
								In Progress
							</td>
							<td class="last-update">3 hours ago</td>
							<td class="issue">repair</td>
						</tr>
						<tr>
							<td class="ticket-id">20653</td>
							<td class="customer">John Smith</td>
							<td class="subject">iPhone Xr Screen replacement</td>
							<td class="status">
								<span class="status"></span>
								In Progress
							</td>
							<td class="last-update">3 hours ago</td>
							<td class="issue">repair</td>
						</tr>
						<tr>
							<td class="ticket-id">20653</td>
							<td class="customer">John Smith</td>
							<td class="subject">iPhone Xr Screen replacement</td>
							<td class="status">
								<span class="status"></span>
								In Progress
							</td>
							<td class="last-update">3 hours ago</td>
							<td class="issue">repair</td>
						</tr>
						<tr>
							<td class="ticket-id">20653</td>
							<td class="customer">John Smith</td>
							<td class="subject">iPhone Xr Screen replacement</td>
							<td class="status">
								<span class="status"></span>
								In Progress
							</td>
							<td class="last-update">3 hours ago</td>
							<td class="issue">repair</td>
						</tr>
						<tr>
							<td class="ticket-id">20653</td>
							<td class="customer">John Smith</td>
							<td class="subject">iPhone Xr Screen replacement</td>
							<td class="status">
								<span class="status"></span>
								In Progress
							</td>
							<td class="last-update">3 hours ago</td>
							<td class="issue">repair</td>
						</tr>
						<tr>
							<td class="ticket-id">20653</td>
							<td class="customer">John Smith</td>
							<td class="subject">iPhone Xr Screen replacement</td>
							<td class="status">
								<span class="status"></span>
								In Progress
							</td>
							<td class="last-update">3 hours ago</td>
							<td class="issue">repair</td>
						</tr>
						<tr>
							<td class="ticket-id">20653</td>
							<td class="customer">John Smith</td>
							<td class="subject">iPhone Xr Screen replacement</td>
							<td class="status">
								<span class="status"></span>
								In Progress
							</td>
							<td class="last-update">3 hours ago</td>
							<td class="issue">repair</td>
						</tr>
						<tr>
							<td class="ticket-id">20653</td>
							<td class="customer">John Smith</td>
							<td class="subject">iPhone Xr Screen replacement</td>
							<td class="status">
								<span class="status"></span>
								In Progress
							</td>
							<td class="last-update">3 hours ago</td>
							<td class="issue">repair</td>
						</tr>
						<tr>
							<td class="ticket-id">20653</td>
							<td class="customer">John Smith</td>
							<td class="subject">iPhone Xr Screen replacement</td>
							<td class="status">
								<span class="status"></span>
								In Progress
							</td>
							<td class="last-update">3 hours ago</td>
							<td class="issue">repair</td>
						</tr>
						<tr>
							<td class="ticket-id">20653</td>
							<td class="customer">John Smith</td>
							<td class="subject">iPhone Xr Screen replacement</td>
							<td class="status">
								<span class="status"></span>
								In Progress
							</td>
							<td class="last-update">3 hours ago</td>
							<td class="issue">repair</td>
						</tr>
						<tr>
							<td class="ticket-id">20653</td>
							<td class="customer">John Smith</td>
							<td class="subject">iPhone Xr Screen replacement</td>
							<td class="status">
								<span class="status"></span>
								In Progress
							</td>
							<td class="last-update">3 hours ago</td>
							<td class="issue">repair</td>
						</tr>
						<tr>
							<td class="ticket-id">20653</td>
							<td class="customer">John Smith</td>
							<td class="subject">iPhone Xr Screen replacement</td>
							<td class="status">
								<span class="status"></span>
								In Progress
							</td>
							<td class="last-update">3 hours ago</td>
							<td class="issue">repair</td>
						</tr>
						<tr>
							<td class="ticket-id">20653</td>
							<td class="customer">John Smith</td>
							<td class="subject">iPhone Xr Screen replacement</td>
							<td class="status">
								<span class="status"></span>
								In Progress
							</td>
							<td class="last-update">3 hours ago</td>
							<td class="issue">repair</td>
						</tr>
						<tr>
							<td class="ticket-id">20653</td>
							<td class="customer">John Smith</td>
							<td class="subject">iPhone Xr Screen replacement</td>
							<td class="status">
								<span class="status"></span>
								In Progress
							</td>
							<td class="last-update">3 hours ago</td>
							<td class="issue">repair</td>
						</tr>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>
</div>
