/* scss helper file */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter";
}

input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button:hover,
a:hover,
input:hover {
  cursor: pointer;
}

input:focus {
  cursor: text;
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  color: #646769;
}

.hidden {
  display: none;
}

div {
  scroll-behavior: smooth;
  scrollbar-width: 0px;
  -ms-overflow-style: none;
}

div::-webkit-scrollbar {
  display: none;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  width: 100%;
  gap: 25px;
}

.header-wrap .info-wrap {
  width: auto;
}

.header-wrap .info-wrap h1 {
  color: #000;
  margin-bottom: 5px;
  font-weight: 600;
}

.header-wrap .info-wrap h1 span {
  font-size: 20px;
}

.header-wrap .actions-wrap {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.header-wrap .actions-wrap .action-style {
  width: auto;
  height: 30px;
  border-radius: 5px;
  background-color: #f2f6f9;
  border: 1px solid #e8edf5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-wrap .actions-wrap .action-style:hover {
  cursor: pointer;
}

.header-wrap .actions-wrap .document-btn {
  width: 50px !important;
}

.hidden {
  display: none;
}

.customer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: calc(100vh - 200px);
  gap: 20px;
}

.customer-content .left-container {
  padding: 0;
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  overflow-y: auto;
}

.customer-content .left-container .table-style {
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.customer-content .left-container .table-style .table-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
  border: 1px solid #e8edf5;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #f2f6f9;
}

.customer-content .left-container .table-style .table-title p {
  font-weight: 800;
  font-size: 20px;
  color: #717375 !important;
}

.customer-content .left-container .table-style table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #e8edf5;
  display: table;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px;
}

.customer-content .left-container .table-style table td {
  font-family: "Inter";
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #7e8082 !important;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  padding-left: 3rem;
}

.customer-content .left-container .table-style table a {
  color: #7e8082 !important;
}

.customer-content .left-container .table-style table a:hover {
  text-decoration: underline;
}

.customer-content .left-container .table-style table thead tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e8edf5;
  background-color: #f9fbfc;
}

.customer-content .left-container .table-style table thead td {
  font-weight: 800;
  font-size: 14px;
  padding: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3rem;
  color: #7e8082 !important;
}

.customer-content .left-container .table-style table tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
  border: 1px solid #e8edf5;
  background: white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.customer-content .left-container .table-style table tbody tr:hover {
  background-color: #f5f5f5;
  color: #575758 !important;
}

.customer-content .left-container .table-style table tbody tr:hover a {
  color: #575758 !important;
}

.customer-content .left-container .table-style table thead td {
  padding: 10px !important;
  padding-left: 3rem !important;
}

.customer-content .left-container .table-style table tbody td {
  padding: 0px !important;
  padding-left: 3rem !important;
}

.customer-content .right-container {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  overflow-y: auto;
  gap: 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px;
  padding: 25px;
  border-radius: 10px;
}

.customer-content .right-container .heading {
  width: 100%;
  height: 40px;
  margin-bottom: -5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.customer-content .right-container .heading span {
  color: #b1aec2;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.customer-content .right-container .heading span:hover {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: black;
  cursor: pointer;
}

.customer-content .right-container .edit-field {
  border-radius: 5px;
  height: 25px;
  border: 1px solid #95a9c6;
  text-indent: 10px;
}

.customer-content .right-container .edit-field::-webkit-input-placeholder {
  color: black;
}

.customer-content .right-container .edit-field:-ms-input-placeholder {
  color: black;
}

.customer-content .right-container .edit-field::-ms-input-placeholder {
  color: black;
}

.customer-content .right-container .edit-field::placeholder {
  color: black;
}

.customer-content .right-container .quick-info-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.customer-content .right-container .quick-info-wrap .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.customer-content .right-container .quick-info-wrap .date-joined {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.customer-content .right-container .contact-info-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.customer-content .right-container .contact-info-wrap .info-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.customer-content .right-container .contact-info-wrap .info-wrap .item-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.customer-content .right-container .contact-info-wrap .info-wrap .item-style span {
  color: #95a9c6;
}

.customer-content .right-container .edit-info-btn-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
}

.customer-content .right-container .edit-info-btn-wrap button {
  padding: 5px 10px;
  border: 0;
  border-radius: 3px;
}

.customer-content .right-container .edit-info-btn-wrap button:first-child {
  border: 1px solid lightgrey;
  background-color: transparent;
}

.customer-content .right-container .edit-info-btn-wrap button:last-child {
  color: white;
  background-color: #4caf50;
}

.customer-content .right-container .account-stats {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.customer-content .right-container .account-stats .tickets,
.customer-content .right-container .account-stats .payments,
.customer-content .right-container .account-stats .spent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

@media only screen and (max-width: 1150px) {
  .customer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .customer-content .left-container,
  .customer-content .right-container {
    width: 100%;
    overflow-y: none;
  }
}
/*# sourceMappingURL=customer-profile.css.map */