*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  color: #7e8082 !important;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  width: 100%;
}

.header-wrap .title-wrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrap .title-wrap h1 {
  color: #000;
  margin-bottom: 5px;
  font-family: "Inter";
  font-weight: 600;
}

.header-wrap .title-wrap h1 span {
  font-size: 20px;
}

.header-wrap .title-wrap .actions-wrap {
  height: 100%;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.header-wrap .title-wrap .actions-wrap .action-style {
  width: auto;
  height: 30px;
  border-radius: 5px;
  background-color: #f2f6f9;
  border: 1px solid #e8edf5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-wrap .title-wrap .actions-wrap .action-style:hover {
  cursor: pointer;
}

.header-wrap .title-wrap .actions-wrap .document-btn {
  width: 50px !important;
}

.hidden {
  display: none;
}

.customer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: calc(100vh - 200px);
  gap: 20px;
}

.customer-content .left-container {
  padding: 0;
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.customer-content .left-container .table-style {
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.customer-content .left-container .table-style .table-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  border: 1px solid #e8edf5;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #f2f6f9;
}

.customer-content .left-container .table-style .table-title p {
  font-weight: 800;
  font-size: 20px;
  color: #717375 !important;
}

.customer-content .left-container .table-style table {
  font-family: "Inter";
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #e8edf5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  display: table;
  text-align: left;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px;
}

.customer-content .left-container .table-style table a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.customer-content .left-container .table-style table thead tr {
  background-color: #f9fbfc;
  border: 1px solid #e8edf5;
}

.customer-content .left-container .table-style table thead td {
  font-weight: 800;
  font-size: 14px;
  color: #7e8082 !important;
  padding: 10px;
  padding-left: 3rem;
}

.customer-content .left-container .table-style table tbody tr {
  border: 1px solid #e8edf5;
  background: white;
}

.customer-content .left-container .table-style table tbody tr:hover {
  background-color: #f5f5f5;
  color: #575758 !important;
}

.customer-content .left-container .table-style table tbody tr:hover a {
  color: #575758 !important;
}

.customer-content .left-container .table-style table tbody tr td {
  padding: 5px 5px 5px 10px;
  color: #7e8082 !important;
  padding-left: 3rem;
}

.customer-content .right-container {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  gap: 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px;
  padding: 25px;
  border-radius: 10px;
}

.customer-content .right-container .heading {
  width: 100%;
  height: 40px;
  margin-bottom: -5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.customer-content .right-container .heading span {
  color: #b1aec2;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.customer-content .right-container .heading span:hover {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: black;
  cursor: pointer;
}

.customer-content .right-container .edit-field {
  border-radius: 5px;
  height: 25px;
  border: 1px solid #95a9c6;
  text-indent: 10px;
}

.customer-content .right-container .edit-field::-webkit-input-placeholder {
  color: black;
}

.customer-content .right-container .edit-field:-ms-input-placeholder {
  color: black;
}

.customer-content .right-container .edit-field::-ms-input-placeholder {
  color: black;
}

.customer-content .right-container .edit-field::placeholder {
  color: black;
}

.customer-content .right-container .quick-info-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.customer-content .right-container .quick-info-wrap .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.customer-content .right-container .quick-info-wrap .date-joined {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.customer-content .right-container .contact-info-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.customer-content .right-container .contact-info-wrap .info-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.customer-content .right-container .contact-info-wrap .info-wrap .item-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.customer-content .right-container .contact-info-wrap .info-wrap .item-style span {
  color: #95a9c6;
}

.customer-content .right-container .edit-info-btn-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
}

.customer-content .right-container .edit-info-btn-wrap button {
  padding: 5px 10px;
  border: 0;
  border-radius: 3px;
}

.customer-content .right-container .edit-info-btn-wrap button:first-child {
  border: 1px solid lightgrey;
  background-color: transparent;
}

.customer-content .right-container .edit-info-btn-wrap button:last-child {
  color: white;
  background-color: #4caf50;
}

.customer-content .right-container .account-stats {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.customer-content .right-container .account-stats .tickets,
.customer-content .right-container .account-stats .payments,
.customer-content .right-container .account-stats .spent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

@media only screen and (max-height: 807px) {
  main {
    overflow-y: auto;
  }
}
/*# sourceMappingURL=customer-profile.css.map */