
<section class="forgot-psw-box">
	<header>
		<a href="login_page.html">
			<h1>ticket<span>Scout</span></h1>
			<img id="logo-img" src="/assets/ticketScoutLogo.svg" alt=""/>
		</a>
	</header>
	<form action="#">
		<h2 style="text-align: center;">Account Recovery</h5>
		<p style="text-align: center;">Recover your TicketScout account</p>
		<label for="email">Email</label>
		<div class="input-wrap">
			<input
			autocomplete="no"
			id="forgot-psw-email"
			type="email"
			name="email"
			placeholder="hello@example.com"
			required
			/>
			<i class="fa fa-mail-forward"></i>
		</div>
		<br />
		<div class="link-wrap">
			<button id="forgot-psw-submit-btn" type="submit">Submit</button>
		</div>
	</form>

	<div class="sign-up-wrap">
		<p>Have an account?<a class="sign-in-link2" href="/"> Sign In</a></p>
	</div>
</section>

<section class="graphic-box">
	<div class="text-wrap">
		<h1>
		Welcome to <span class="first">ticket</span
			><span class="second">Scout</span>
		</h1>
		<h2 id="graphic-box-text">Sign in to start your day!</h2>
	</div>
</section>