/* scss helper file */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter";
}

input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button:hover,
a:hover,
input:hover {
  cursor: pointer;
}

input:focus {
  cursor: text;
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  color: #646769;
}

.hidden {
  display: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 3rem 0 3rem !important;
  overflow-y: none !important;
}

.main-content {
  background-color: #f4f1f1 !important;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 5px;
  padding-left: 5px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.page-header h1 {
  color: #434649;
  letter-spacing: 0.01em;
  font-weight: 600;
}

.page-header small {
  color: #646769;
  font-weight: 600;
}

.hidden {
  display: none !important;
}

.master-card-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: calc(100vh - 100px);
  gap: 10px;
}

.top-cards-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60%;
  gap: 20px;
}

.top-cards-layout .action-card-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 13px;
  min-width: 250px;
  width: 25%;
  height: 100%;
  z-index: 10;
}

.top-cards-layout .action-card-stack div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 33%;
  border-radius: 10px;
  padding: 15px 25px 15px 25px;
  color: #646769;
}

.top-cards-layout .action-card-stack div h5 {
  font-size: 15px;
}

.top-cards-layout .action-card-stack div h2 {
  font-size: 48px;
}

.top-cards-layout .action-card-stack div:first-child {
  background: linear-gradient(104.14deg, #f3c7ad 1.03%, #eeafa1 100%);
}

.top-cards-layout .action-card-stack div:nth-child(2) {
  background: linear-gradient(105.38deg, #c4b7ea 0.74%, #adbbea 101.51%);
}

.top-cards-layout .action-card-stack div:last-child {
  background: linear-gradient(285.38deg, #b0a6ea -0.77%, #9da3d9 100%);
}

.top-cards-layout .map-wrap {
  width: 75%;
  height: 100%;
  position: relative;
}

.top-cards-layout .map-wrap img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 5%;
  left: 10%;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.bottom-cards-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40%;
  gap: 50px;
}

.bottom-cards-layout .recent-tickets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45%;
  height: 100%;
  gap: 8px;
  z-index: 10;
}

.bottom-cards-layout .recent-tickets .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 17%;
  padding: 0 10px 0 10px;
}

.bottom-cards-layout .recent-tickets .heading h3 {
  color: #646769;
  font-weight: 700;
  font-size: 18px;
}

.bottom-cards-layout .recent-tickets .heading a {
  padding: 5px 7px 5px 7px;
  outline: none;
  border: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #6fb7f9;
  font-weight: 600;
  font-size: 14px;
  background-color: #fff;
}

.bottom-cards-layout .recent-tickets table {
  height: 83%;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: table;
  color: #646769 !important;
  -webkit-box-shadow: 0px 1px 244px 10px rgba(65, 66, 115, 0.16);
          box-shadow: 0px 1px 244px 10px rgba(65, 66, 115, 0.16);
  border-collapse: collapse;
}

.bottom-cards-layout .recent-tickets table thead tr {
  text-align: center;
}

.bottom-cards-layout .recent-tickets table thead td {
  font-weight: 600;
  padding: 10px 15px 10px 15px;
}

.bottom-cards-layout .recent-tickets table tbody tr {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.bottom-cards-layout .recent-tickets table tbody tr td {
  padding-left: 30px;
  font-weight: 500;
  font-size: 14px;
}

.bottom-cards-layout .recent-tickets table tbody tr td a:hover {
  text-decoration: underline;
}

.bottom-cards-layout .recent-tickets table tbody tr:nth-of-type(odd) {
  background: rgba(243, 235, 255, 0.65);
}

.bottom-cards-layout .tracking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 1px 244px 10px rgba(65, 66, 115, 0.16);
          box-shadow: 0px 1px 244px 10px rgba(65, 66, 115, 0.16);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  z-index: 10;
}

.bottom-cards-layout .tracking .tracking-area {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  padding: 30px;
}

.bottom-cards-layout .tracking .tracking-area h5 {
  font-weight: bold;
  font-size: 18px;
  color: #646769;
}

.bottom-cards-layout .tracking .tracking-area p {
  color: #646769;
  font-weight: 500;
  font-size: 14px;
}

.bottom-cards-layout .tracking .tracking-area div {
  position: relative;
}

.bottom-cards-layout .tracking .tracking-area div input {
  margin-top: 15px;
  height: 65px;
  width: 100%;
  border: 2px solid #efefef;
  -webkit-box-shadow: 2px 4px 188px rgba(53, 83, 111, 0.2);
          box-shadow: 2px 4px 188px rgba(53, 83, 111, 0.2);
  border-radius: 8px;
  text-indent: 20px;
  color: #8f8f8f;
  font-weight: 600;
  font-size: 13px;
}

.bottom-cards-layout .tracking .tracking-area div input::-webkit-input-placeholder {
  color: #8f8f8f;
  font-weight: 600;
}

.bottom-cards-layout .tracking .tracking-area div input:-ms-input-placeholder {
  color: #8f8f8f;
  font-weight: 600;
}

.bottom-cards-layout .tracking .tracking-area div input::-ms-input-placeholder {
  color: #8f8f8f;
  font-weight: 600;
}

.bottom-cards-layout .tracking .tracking-area div input::placeholder {
  color: #8f8f8f;
  font-weight: 600;
}

.bottom-cards-layout .tracking .tracking-area div button {
  position: absolute;
  top: 28px;
  right: 10px;
  background: #6fb7f9;
  border-radius: 8px;
  padding: 13px;
  border: 0;
  color: white;
}

.bottom-cards-layout .tracking .tracking-area .map-animation {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-cards-layout .tracking .tracking-area .map-animation lottie-player {
  width: 100%;
  height: 100%;
}

.bottom-cards-layout .tracking .tracking-area .tracking-info {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.bottom-cards-layout .tracking .tracking-area .tracking-info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-cards-layout .tracking .tracking-map {
  width: 40%;
  height: 100%;
  overflow: hidden;
  background-image: url(/assets/dashboard/trackingIllustration.svg);
  background-size: 100% 100%;
  border-top-right-radius: 10px;
}
/*# sourceMappingURL=dashboard.css.map */