$primary-purple: #7470fb;
$dark-purple: #3d354b;
$second-dark-purple: #3f3539;
$white-1: #edf5fc;
$white-2: #fafafb;
$light-grey: #b1aec2;
$card-pool: #e8edf5;

$main-color: #1a202e;
$color-dark: #1d2231;
$text-grey: #8390a2;

// Main Color Scheme
$swatch_1: #e8edf5;
$swatch_2: #050505;
$swatch_3: #b4becc;
$swatch_4: #354250;
$swatch_5: #717987;
$bluetext: #0d2238;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.page-header {
	h1 {
		color: #000;
		margin-bottom: 5px;
		font-family: "Inter";
		font-weight: 600;
	}

	small {
		color: $swatch_5;
	}
}

.account-settings-container {
	width: 100%;
	height: calc(100vh - 220px);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	margin-top: 20px;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px;
	padding: 20px 0 20px 0;
}
