/* scss helper file */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter";
}

input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button:hover,
a:hover,
input:hover {
  cursor: pointer;
}

input:focus {
  cursor: text;
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  color: #646769;
}

.hidden {
  display: none;
}

.page-header {
  margin-top: -10px;
}

.page-header h1 {
  color: black;
  margin-bottom: 5px;
  font-family: "Inter";
  font-weight: 600;
}

.page-header small {
  color: #717987;
}

.account-settings-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: calc(100vh - 200px);
  border-radius: 10px;
  margin-top: 10px;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px;
}

.account-settings-container .settings-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 300px;
  padding-top: 25px;
  overflow-y: auto;
  border-right: 1px solid #f6f8fa;
}

.account-settings-container .settings-sidebar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 100%;
  height: 50px;
  padding-left: 40px;
  font-weight: 500;
  text-decoration: none;
  color: #7e8082;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.account-settings-container .settings-sidebar a:hover {
  color: black;
  background-color: #f5f5f5;
}

.account-settings-container .settings-sidebar .color-menu-item {
  color: black;
  background-color: #f5f5f5;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.account-settings-container .section-content {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding: 0 50px 50px 50px;
  scroll-behavior: smooth;
  scrollbar-width: 0px;
  -ms-overflow-style: none;
}

.account-settings-container .section-content::-webkit-scrollbar {
  display: none;
}

.account-settings-container .section-content .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.account-settings-container .section-content .section h2 {
  margin-top: 50px;
}

.account-settings-container .section-content .section:last-child {
  margin-bottom: 0;
}

.account-settings-container .section-content #account form,
.account-settings-container .section-content #password form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  width: 100%;
  height: 100%;
  padding: 50px 0 50px 0;
}

.account-settings-container .section-content #account form div,
.account-settings-container .section-content #password form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.account-settings-container .section-content #account form div label,
.account-settings-container .section-content #password form div label {
  font-family: "Padauk" bold;
  font-weight: 500;
  font-size: 13px;
  color: #717987;
  text-transform: uppercase;
}

.account-settings-container .section-content #account form div input,
.account-settings-container .section-content #password form div input {
  height: 50px;
  text-indent: 25px !important;
  font-size: 16px;
  outline: none;
  text-indent: 10px;
  border: 1px solid #e8edf5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.account-settings-container .section-content #account form .btn-wrap,
.account-settings-container .section-content #password form .btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.account-settings-container .section-content #account form .btn-wrap button,
.account-settings-container .section-content #password form .btn-wrap button {
  width: 15%;
  height: 50px;
  border-radius: 5px;
  border: 0;
  background-color: black;
  color: white;
  -webkit-box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
          box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.account-settings-container .section-content #account form .btn-wrap button:hover,
.account-settings-container .section-content #password form .btn-wrap button:hover {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.account-settings-container .section-content #timeclock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  height: auto;
}

.account-settings-container .section-content #timeclock .hide {
  display: none;
}

.account-settings-container .section-content #timeclock .clock-filters {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.account-settings-container .section-content #timeclock .clock-filters p {
  color: #7e8082 !important;
  font-weight: 700;
  font-size: 14px;
}

.account-settings-container .section-content #timeclock .clock-filters button {
  background-color: black;
  color: white;
  padding: 5px 10px;
  outline: none;
  border-radius: 5px;
  border: 0;
  -webkit-box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
          box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.account-settings-container .section-content #timeclock .clock-filters div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.account-settings-container .section-content #timeclock table {
  overflow-y: auto;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #e8edf5;
  display: table;
}

.account-settings-container .section-content #timeclock table td {
  font-family: "Inter";
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #7e8082 !important;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  padding-left: 3rem;
}

.account-settings-container .section-content #timeclock table a {
  color: #7e8082 !important;
}

.account-settings-container .section-content #timeclock table a:hover {
  text-decoration: underline;
}

.account-settings-container .section-content #timeclock table thead tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e8edf5;
  background-color: #f9fbfc;
}

.account-settings-container .section-content #timeclock table thead td {
  font-weight: 800;
  font-size: 14px;
  padding: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3rem;
  color: #7e8082 !important;
}

.account-settings-container .section-content #timeclock table tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
  border: 1px solid #e8edf5;
  background: white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.account-settings-container .section-content #timeclock table tbody tr:hover {
  background-color: #f5f5f5;
  color: #575758 !important;
}

.account-settings-container .section-content #timeclock table tbody tr:hover a {
  color: #575758 !important;
}

.account-settings-container .section-content #payments h2 {
  margin-bottom: 5px;
}

.account-settings-container .section-content #payments .payment-settings {
  width: 100%;
  height: 100%;
  margin-top: 15px;
  padding: 35px 0 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.account-settings-container .section-content #payments .payment-settings .left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  height: 100%;
}

.account-settings-container .section-content #payments .payment-settings .left-container .category-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 5px;
}

.account-settings-container .section-content #payments .payment-settings .left-container .category-wrap select {
  margin-top: 15px;
  height: 40px;
  width: 250px;
  outline: none;
  text-indent: 10px;
  border: 1px solid #e8edf5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.account-settings-container .section-content #payments .payment-settings .left-container .category-wrap div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  width: 250px;
  height: 40px;
}

.account-settings-container .section-content #payments .payment-settings .left-container .category-wrap div button {
  width: 50%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #f2f6f9;
  outline: none;
  border: 1px solid #e8edf5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.account-settings-container .section-content #payments .payment-settings .left-container .category-wrap div input {
  display: none;
  width: 100%;
  outline: none;
  text-indent: 10px;
  border: 1px solid #e8edf5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.account-settings-container .section-content #payments .payment-settings .left-container .tax-rate-wrap {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.account-settings-container .section-content #payments .payment-settings .left-container .tax-rate-wrap div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.account-settings-container .section-content #payments .payment-settings .left-container .tax-rate-wrap div input {
  outline: none;
  text-indent: 10px;
  border: 1px solid #e8edf5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-top: 15px;
  height: 40px;
  width: 185px;
}

.account-settings-container .section-content #payments .payment-settings .left-container .tax-rate-wrap div button {
  background-color: #f2f6f9;
  outline: none;
  border: 1px solid #e8edf5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-top: 15px;
  height: 40px;
  width: 65px;
}

.account-settings-container .section-content #payments .payment-settings .address-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
  height: 100%;
  gap: 5px;
}

.account-settings-container .section-content #payments .payment-settings .address-form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.account-settings-container .section-content #payments .payment-settings .address-form div label {
  margin-top: 13px;
  font-family: "Padauk" bold;
  font-weight: 500;
  font-size: 13px;
  color: #717987;
  text-transform: uppercase;
}

.account-settings-container .section-content #payments .payment-settings .address-form div input {
  height: 40px;
  outline: none;
  text-indent: 10px;
  border: 1px solid #e8edf5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.account-settings-container .section-content #payments .payment-settings .address-form div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.account-settings-container .section-content #payments .payment-settings .address-form div:last-child button {
  width: 25%;
  margin-top: 10px;
  height: 40px;
  background-color: #f2f6f9;
  outline: none;
  border: 1px solid #e8edf5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.account-settings-container .section-content #tickets h2 {
  margin-bottom: 5px;
}

.account-settings-container .section-content #tickets .ticket-settings {
  width: 100%;
  height: 100%;
  margin-top: 15px;
  padding: 35px 0 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container {
  width: 65%;
  gap: 5px;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 75%;
  gap: 10px;
  margin: 30px 0 50px 0;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .statuses {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  border: 1px solid #e8edf5;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .statuses .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  width: 100%;
  gap: 15px;
  border: 1px solid #e8edf5;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .statuses .status p {
  color: #7e8082;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .statuses .status .color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .statuses .status:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 15px;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status div label {
  font-family: "Padauk" bold;
  font-weight: 500;
  font-size: 13px;
  color: #717987;
  text-transform: uppercase;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status div input {
  height: 40px;
  outline: none;
  text-indent: 10px;
  border: 1px solid #e8edf5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status div div input {
  width: 70%;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status div div div {
  height: 40px;
  width: 30%;
  outline: none;
  text-indent: 10px;
  border: 1px solid #e8edf5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status .button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5px;
  margin-top: 5px;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status .button-wrap button {
  width: 50%;
  margin-top: -10px;
  height: 40px;
  background-color: #f2f6f9;
  outline: none;
  border: 1px solid #e8edf5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status .button-wrap #delete_ticket_status_settings {
  background-color: lightcoral;
  color: white;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status .default-colors-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status .default-colors-wrap .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status .default-colors-wrap .color-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #e8edf5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status .default-colors-wrap .color-copy span {
  display: none;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status .default-colors-wrap .color-copy:hover {
  cursor: pointer;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status .default-colors-wrap .color-copy:hover span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status .default-colors-wrap .color-copy:active span {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status .default-colors-wrap #new {
  background-color: #56f000;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status .default-colors-wrap #new2 {
  background-color: #36b37e;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status .default-colors-wrap #alert {
  background-color: #ff3838;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status .default-colors-wrap #alert2 {
  background-color: #ff5630;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status .default-colors-wrap #attention {
  background-color: #ffb302;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status .default-colors-wrap #attention2 {
  background-color: #ffab00;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status .default-colors-wrap #standby {
  background-color: #2dccff;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status .default-colors-wrap #standby2 {
  background-color: #00b8d9;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status .default-colors-wrap #resolved {
  background-color: #9ea7ad;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status .default-colors-wrap #resolved2 {
  background-color: #505f79;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status .default-colors-wrap #caution {
  background-color: #fce83a;
}

.account-settings-container .section-content #tickets .ticket-settings .left-container .statuses-wrap .add-remove-status .default-colors-wrap #caution2 {
  background-color: #6554c0;
}

.account-settings-container .section-content #tickets .ticket-settings .right-container {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.account-settings-container .section-content #tickets .ticket-settings .right-container select {
  margin-top: 15px;
  height: 40px;
  width: 250px;
  outline: none;
  text-indent: 10px;
  border: 1px solid #e8edf5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.account-settings-container .section-content #tickets .ticket-settings .right-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  width: 250px;
  height: 40px;
}

.account-settings-container .section-content #tickets .ticket-settings .right-container div button {
  width: 50%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #f2f6f9;
  outline: none;
  border: 1px solid #e8edf5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.account-settings-container .section-content #tickets .ticket-settings .right-container div input {
  display: none;
  width: 100%;
  outline: none;
  text-indent: 10px;
  border: 1px solid #e8edf5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.account-settings-container .section-content #employees h2 {
  margin-bottom: 5px;
}

.account-settings-container .section-content #employees .employee-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  padding-top: 25px;
}

.account-settings-container .section-content #employees .employee-content .left-container {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.account-settings-container .section-content #employees .employee-content .left-container .input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.account-settings-container .section-content #employees .employee-content .left-container .input-wrap label {
  font-family: "Padauk" bold;
  font-weight: 500;
  font-size: 13px;
  color: #717987;
  text-transform: uppercase;
}

.account-settings-container .section-content #employees .employee-content .left-container .input-wrap input {
  height: 40px;
  width: 250px;
  outline: none;
  text-indent: 10px;
  border: 1px solid #e8edf5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.account-settings-container .section-content #employees .employee-content .left-container .input-wrap button {
  width: 250px;
  height: 40px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #f2f6f9;
  outline: none;
  border: 1px solid #e8edf5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.account-settings-container .section-content #reports h2 {
  margin-bottom: 5px;
}

.account-settings-container .section-content #reports .report-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  height: 100%;
  width: 100%;
  padding-top: 25px;
}

.account-settings-container .section-content #reports .report-content .left-container,
.account-settings-container .section-content #reports .report-content .right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  height: 100%;
  width: 50%;
}

.account-settings-container .section-content #deletedata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.account-settings-container .section-content #deletedata h2 {
  margin-bottom: 5px;
}

.account-settings-container .section-content #deletedata .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.account-settings-container .section-content #deletedata .options .remove-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.account-settings-container .section-content #deletedata .options .remove-wrap label {
  font-family: "Padauk" bold;
  font-weight: 500;
  font-size: 13px;
  color: #717987;
  text-transform: uppercase;
}

.account-settings-container .section-content #deletedata .options .remove-wrap input {
  height: 40px;
  width: 250px;
  outline: none;
  text-indent: 10px;
  border: 1px solid #e8edf5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.account-settings-container .section-content #deletedata .options .remove-wrap div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.account-settings-container .section-content #deletedata .options .remove-wrap div button {
  width: 100%;
  height: 40px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #f2f6f9;
  outline: none;
  border: 1px solid #e8edf5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.account-settings-container .section-content #deletedata .options .remove-wrap div button:last-child {
  display: none;
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #ff3838;
  color: white;
}
/*# sourceMappingURL=account-settings.css.map */