@import "../../../helper";

.page-header {
	margin-top: -10px;
	h1 {
		color: $black;
		margin-bottom: 5px;
		font-family: "Inter";
		font-weight: 600;
	}

	small {
		color: $swatch_5;
	}
}

.account-settings-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: calc(100vh - 200px);
	border-radius: 10px;
	margin-top: 10px;
	background-color: $white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px;

	.settings-sidebar {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 300px;
		padding-top: 25px;
		overflow-y: auto;
		border-right: 1px solid $cardPool;

		a {
			display: flex;
			align-items: center;
			gap: 20px;
			width: 100%;
			height: 50px;
			padding-left: 40px;
			font-weight: 500;
			text-decoration: none;
			color: #7e8082;
			transition: 0.3s ease-in-out;

			&:hover {
				color: black;
				background-color: $clearGrey;
			}
		}

		.color-menu-item {
			color: black;
			background-color: $clearGrey;
			transition: 0.3s ease-in-out;
		}
	}

	.section-content {
		height: 100%;
		width: 100%;
		overflow-y: auto;
		padding: 0 50px 50px 50px;
		scroll-behavior: smooth;
		scrollbar-width: 0px;
		-ms-overflow-style: none;

		&::-webkit-scrollbar {
			display: none;
		}

		.section {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
			margin-bottom: 50px;

			h2 {
				margin-top: 50px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		#account,
		#password {
			form {
				display: flex;
				flex-direction: column;
				gap: 50px;
				width: 100%;
				height: 100%;
				padding: 50px 0 50px 0;

				div {
					display: flex;
					flex-direction: column;
					gap: 10px;

					label {
						@include inputLabel;
					}

					input {
						height: 50px;
						text-indent: 25px !important;
						font-size: 16px;
						@include simpleInputStyle;
					}
				}

				.btn-wrap {
					display: flex;
					align-items: flex-end;

					button {
						width: 15%;
						height: 50px;
						@include buttonEnlarge;
					}
				}
			}
		}

		#timeclock {
			display: flex;
			flex-direction: column;
			gap: 10px;
			height: auto;

			.hide {
				display: none;
			}

			.clock-filters {
				height: 50px;
				display: flex;
				align-items: center;
				gap: 20px;

				p {
					color: #7e8082 !important;
					font-weight: 700;
					font-size: 14px;
				}

				button {
					background-color: black;
					color: white;
					padding: 5px 10px;
					@include buttonBoxShadow1;
				}

				div {
					display: flex;
					align-items: center;
					gap: 5px;
				}
			}

			table {
				overflow-y: auto;

				@include table-style;
				@include thead;
				@include tbody;
			}
		}

		#payments {
			h2 {
				margin-bottom: 5px;
			}

			.payment-settings {
				width: 100%;
				height: 100%;
				margin-top: 15px;
				padding: 35px 0 35px 0;
				display: flex;

				.left-container {
					display: flex;
					flex-direction: column;
					width: 45%;
					height: 100%;

					.category-wrap {
						display: flex;
						flex-direction: column;
						width: 100%;
						gap: 5px;

						select {
							margin-top: 15px;
							height: 40px;
							width: 250px;
							@include simpleInputStyle;
						}

						div {
							display: flex;
							gap: 5px;
							width: 250px;
							height: 40px;

							button {
								width: 50%;
								transition: 0.3s ease-in-out;
								@include simpleButtonStyle;
							}

							input {
								display: none;
								width: 100%;
								@include simpleInputStyle;
							}
						}
					}

					.tax-rate-wrap {
						width: 100%;
						height: 100%;
						padding-top: 50px;
						gap: 5px;
						display: flex;
						flex-direction: column;

						div {
							display: flex;
							gap: 5px;

							input {
								@include simpleInputStyle;
								margin-top: 15px;
								height: 40px;
								width: 185px;
							}

							button {
								@include simpleButtonStyle;
								margin-top: 15px;
								height: 40px;
								width: 65px;
							}
						}
					}
				}

				.address-form {
					display: flex;
					flex-direction: column;
					width: 65%;
					height: 100%;
					gap: 5px;

					div {
						display: flex;
						flex-direction: column;
						gap: 5px;

						label {
							margin-top: 13px;
							@include inputLabel;
						}

						input {
							height: 40px;
							@include simpleInputStyle;
						}

						&:last-child {
							display: flex;
							align-items: flex-end;
							justify-content: center;

							button {
								width: 25%;
								margin-top: 10px;
								height: 40px;
								@include simpleButtonStyle;
							}
						}
					}
				}
			}
		}

		#tickets {
			h2 {
				margin-bottom: 5px;
			}

			.ticket-settings {
				width: 100%;
				height: 100%;
				margin-top: 15px;
				padding: 35px 0 35px 0;
				display: flex;
				gap: 15px;

				.left-container {
					width: 65%;
					gap: 5px;

					.statuses-wrap {
						display: flex;
						width: 100%;
						height: 75%;
						gap: 10px;
						margin: 30px 0 50px 0;

						.statuses {
							width: 40%;
							display: flex;
							flex-direction: column;
							overflow-y: scroll;
							border: 1px solid $swatch_1;

							.status {
								@include centerFlexChild;
								min-height: 50px;
								width: 100%;
								gap: 15px;
								border: 1px solid $swatch_1;
								transition: 0.3s ease-in-out;

								p {
									color: #7e8082;
								}

								.color {
									width: 15px;
									height: 15px;
									border-radius: 50%;
								}

								&:hover {
									cursor: pointer;
									background-color: $clearGrey;
								}
							}
						}

						.add-remove-status {
							width: 60%;
							display: flex;
							flex-direction: column;
							justify-content: flex-start;
							gap: 15px;

							div {
								display: flex;
								flex-direction: column;
								gap: 5px;

								label {
									@include inputLabel;
								}

								input {
									height: 40px;
									@include simpleInputStyle;
								}

								div {
									display: flex;
									flex-direction: row;

									input {
										width: 70%;
									}

									div {
										height: 40px;
										width: 30%;
										@include simpleInputStyle;
										@include centerFlexChild;
									}
								}
							}

							.button-wrap {
								display: flex;
								flex-direction: row;
								gap: 5px;
								margin-top: 5px;

								button {
									width: 50%;
									margin-top: -10px;
									height: 40px;
									@include simpleButtonStyle;
								}

								#delete_ticket_status_settings {
									background-color: lightcoral;
									color: white;
								}
							}

							.default-colors-wrap {
								display: flex;
								flex-direction: column;
								gap: 15px;

								.row {
									display: flex;
									justify-content: space-around;
									align-items: center;
									width: 100%;
								}

								.color-copy {
									@include centerFlexChild;
									width: 30px;
									height: 30px;
									border: 1px solid $swatch_1;
									box-shadow: $simpleBoxShadow;

									span {
										display: none;
									}
									&:hover {
										cursor: pointer;
										span {
											display: flex;
										}
									}
									&:active {
										span {
											transform: scale(1.1);
										}
									}
								}

								#new {
									background-color: #56f000;
								}
								#new2 {
									background-color: #36b37e;
								}
								#alert {
									background-color: #ff3838;
								}
								#alert2 {
									background-color: #ff5630;
								}
								#attention {
									background-color: #ffb302;
								}
								#attention2 {
									background-color: #ffab00;
								}
								#standby {
									background-color: #2dccff;
								}
								#standby2 {
									background-color: #00b8d9;
								}
								#resolved {
									background-color: #9ea7ad;
								}
								#resolved2 {
									background-color: #505f79;
								}
								#caution {
									background-color: #fce83a;
								}
								#caution2 {
									background-color: #6554c0;
								}
							}
						}
					}
				}

				.right-container {
					width: 35%;
					display: flex;
					flex-direction: column;
					gap: 5px;

					select {
						margin-top: 15px;
						height: 40px;
						width: 250px;
						@include simpleInputStyle;
					}

					div {
						display: flex;
						gap: 5px;
						width: 250px;
						height: 40px;

						button {
							width: 50%;
							transition: 0.3s ease-in-out;
							@include simpleButtonStyle;
						}

						input {
							display: none;
							width: 100%;
							@include simpleInputStyle;
						}
					}
				}
			}
		}

		#employees {
			h2 {
				margin-bottom: 5px;
			}

			.employee-content {
				display: flex;
				height: 100%;
				width: 100%;
				padding-top: 25px;

				.left-container {
					height: 100%;
					width: 50%;
					display: flex;
					flex-direction: column;
					gap: 30px;

					.input-wrap {
						display: flex;
						flex-direction: column;
						gap: 5px;

						label {
							@include inputLabel;
						}

						input {
							height: 40px;
							width: 250px;
							@include simpleInputStyle;
						}

						button {
							width: 250px;
							height: 40px;
							transition: 0.3s ease-in-out;
							@include simpleButtonStyle;
						}
					}
				}
			}
		}

		#deletedata {
			h2 {
				margin-bottom: 5px;
			}

			.options {
				display: flex;
				width: 100%;
				height: 100%;
				margin-top: 50px;
				justify-content: space-around;

				.remove-wrap {
					display: flex;
					flex-direction: column;
					gap: 5px;

					label {
						@include inputLabel;
					}

					input {
						height: 40px;
						width: 250px;
						@include simpleInputStyle;
					}

					div {
						display: flex;
						gap: 5px;

						button {
							width: 100%;
							height: 40px;
							transition: 0.3s ease-in-out;
							@include simpleButtonStyle;

							&:last-child {
								display: none;
								width: 70%;
								justify-content: center;
								align-items: center;
								transition: 0.3s ease-in-out;
								background-color: #ff3838;
								color: white;
							}
						}
					}
				}
			}
		}
	}
}
