@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap");
$primary-purple: #7470fb;
$dark-purple: #3d354b;
$second-dark-purple: #3f3539;
$white-1: #edf5fc;
$white-2: #fafafb;
$light-grey: #b1aec2;
$card-pool: #e8edf5;

$main-color: #1a202e;
$color-dark: #1d2231;
$text-grey: #8390a2;

// Main Color Scheme
$swatch_1: #e8edf5;
$swatch_2: #050505;
$swatch_3: #b4becc;
$swatch_4: #354250;
$swatch_5: #717987;
$bluetext: #0d2238;

.title-wrap {
	h1 {
		color: #000;
		margin-bottom: 5px;
		font-family: "Inter";
		font-weight: 600;
	}

	small {
		color: $swatch_5;
	}
}

.new-payment-container {
	width: 100%;
	height: calc(100%);
	display: flex;
	align-items: center;
	border-radius: 10px;
	margin-top: 20px;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px;
	padding: 20px 45px 20px 45px;

	.content-container {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		form {
			width: 100%;
			height: 100%;
			border-radius: 10px;
			display: flex;
			align-items: center;
			flex-direction: column;

			.form-style {
				display: flex;
				flex-direction: row;
				width: 100%;
				height: 60%;
				justify-content: center;

				.info-container {
					height: 100%;
					width: 50%;
					padding: 50px 45px 20px 45px;

					h3 {
						margin-bottom: 25px;
						font-family: "Padauk";
						font-weight: bold;

						i {
							font-size: 13px;
							color: grey;
							font-weight: 400;
						}
					}

					.input-wrap {
						display: flex;
						flex-direction: column;
						gap: 10px;

						.optional-wrap {
							display: flex;
							justify-content: space-between;
							align-items: center;

							small {
								color: $swatch_3;
							}
						}

						label {
							text-transform: uppercase;
							color: $swatch_5;
							font-size: 13px;
							font-weight: 500;
							font-family: "Padauk" bold;
						}

						input {
							margin-bottom: 40px;
							border-radius: 3px;
							background-color: #f7f7f7;
							border: 0;
							height: 50px;
							text-indent: 10px;
							transition: 0.3s ease-in-out;

							&:focus,
							&:valid {
								background-color: white;
								transition: 0.3s ease-in-out;
								outline: none;
								border-color: #9ecaed;
								box-shadow: 0 0 10px #9ecaed;
							}
						}

						#categorySelect {
							margin-bottom: 40px;
							border-radius: 3px;
							background-color: #f7f7f7;
							border: 0;
							height: 50px;
							text-indent: 10px;
							outline: none;

							&:focus {
								background-color: white;
								transition: 0.3s ease-in-out;
								outline: none;
								border-color: #9ecaed;
								box-shadow: 0 0 10px #9ecaed;
							}

							&:hover {
								cursor: pointer;
							}
						}

						.payment-options-wrap {
							display: flex;
							flex-direction: column;
							justify-content: space-around;
							height: 170px;
							width: 100%;

							.amount {
								width: 100%;
								height: 55px;

								input {
									width: 100%;
									height: 100%;
								}
							}

							.total {
								display: flex;
								width: 100%;
								height: 55px;
								flex-direction: row;
								gap: 20px;

								.amount-wrap {
									height: 100%;
									width: 70%;

									input {
										width: 100%;
										height: 100%;
									}
								}

								.add-item {
									height: 100%;
									width: 30%;

									button {
										width: 100%;
										height: 100%;
										border: 1px solid lightgrey;
										border-radius: 3px;
										font-weight: 600;
										transition: 0.3s ease-in-out;

										&:hover {
											cursor: pointer;
											background-color: white;
											transition: 0.3s ease-in-out;
											outline: none;
											border-color: #9ecaed;
											box-shadow: 0 0 10px #9ecaed;
										}
									}
								}
							}

							.tax-options {
								width: 100%;
								height: 55px;
								padding: 5px;
								display: flex;
								flex-direction: row;
								gap: 30px;
								justify-content: space-between;
								align-items: center;

								.tax-choice {
									display: flex;
									flex-direction: column;
									gap: 5px;

									select {
										border-radius: 3px;
										background-color: #f7f7f7;
										border: 0;
										outline: none;
										box-shadow: 0 0 10px #9ecaed;

										&:hover {
											cursor: pointer;
										}
									}
								}

								.tax-percent,
								.tax-dollar,
								.quantity {
									height: 100%;
									width: 20%;

									input {
										height: 100%;
										width: 100%;
										box-shadow: none !important;
										border: 0 !important;
										background-color: #f7f7f7 !important;
										text-indent: 10px;
										outline: none !important;
									}

									&:hover {
										cursor: none;
									}
								}

								.quantity {
									span {
										color: grey;
										position: relative;
										&::before {
											position: absolute;
											top: 0;
											content: "qty: ";
											left: 5px;
										}
									}
									input {
										padding-left: 35px;
									}
								}
							}
							.input-symbol-dollar {
								position: relative;
							}
							.input-symbol-dollar input {
								padding-left: 15px;
							}
							.input-symbol-dollar:before {
								position: absolute;
								top: 0;
								content: "$";
								left: 5px;
							}
						}
					}
				}
			}

			.items-in-order-container {
				width: 100%;
				display: flex;
				flex-direction: column;
				text-align: left;
				padding: 0px 45px 20px 45px;

				h4 {
					margin-bottom: 25px;
				}

				table {
					font-family: "Inter";
					border-collapse: collapse;
					width: 100%;
					display: table;
					border: 1px solid $swatch_1;

					thead tr {
						background-color: #f9fbfc;
						border: 1px solid $swatch_1;

						td {
							font-weight: 800;
							font-size: 14px;
							color: #7e8082 !important;
							padding: 10px;
							padding-left: 3rem;
						}
					}

					tbody tr {
						background-color: white;
						border: 1px solid $swatch_1;
						transition: 0.3s ease-in-out;

						&:hover {
							background-color: #f5f5f5;
							color: #575758 !important;
							a {
								color: #575758 !important;
							}
						}

						td {
							font-size: 0.9rem;
							color: #7e8082 !important;
							padding: 15px;
							padding-left: 3rem;
						}

						.status {
							div {
								display: flex;
								align-items: center;
								gap: 2px;
							}
						}
					}
				}
			}

			.complete-order-wrap {
				width: 100%;
				height: 200px;
				display: flex;
				flex-direction: row;
				padding: 0px 45px 20px 45px;
				gap: 40px;

				.container {
					display: flex;
					flex-direction: column;
					width: 50%;
					height: 100%;

					h4 {
						margin-bottom: 25px;
					}
					.complete-order-style {
						background-color: #f9fbfc;
						border: 1px solid $swatch_1;
						width: 100%;
						height: 90%;
					}

					.overview-container {
						padding: 15px;
						display: flex;
						flex-direction: column;
						justify-content: center;
						gap: 10px;

						div {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							align-items: center;
						}
					}

					.type-container {
						display: flex;
						flex-direction: column;
						justify-content: center;
						width: 100%;
						height: 100%;
						gap: 10px;
						background-color: white;
						border: none;

						.type-wrap {
							display: flex;
							flex-direction: row;
							gap: 10px;
							justify-content: center;
							align-items: center;

							.card,
							.cash {
								display: flex;
								justify-content: center;
								align-items: center;
								gap: 5px;
								width: 50%;
								height: 60px;
								border: 1px solid lightgrey;
								border-radius: 3px;
								font-weight: 600;
								transition: 0.3s ease-in-out;

								&:hover {
									cursor: pointer;
									background-color: white;
									transition: 0.3s ease-in-out;
									outline: none;
									border-color: #9ecaed;
									box-shadow: 0 0 10px #9ecaed;
								}
							}
						}

						.button-wrap {
							display: flex;
							justify-content: flex-end;
							align-items: center;
							width: 100%;
							height: 100%;
							gap: 15px;
							transition: 0.3s ease-in-out;

							.card-options {
								display: none;
								height: 60px;
								width: 50%;
								flex-direction: row;
								gap: 10px;
								align-items: center;
								justify-content: space-evenly;
								transition: 0.3s ease-in-out;

								div {
									width: 25%;
									height: 100%;
									border: 1px solid lightgrey;
									border-radius: 3px;
									font-weight: 600;
									transition: 0.3s ease-in-out;
									display: flex;
									justify-content: center;
									align-items: center;

									&:hover {
										cursor: pointer;
										background-color: white;
										transition: 0.3s ease-in-out;
										outline: none;
										border-color: #9ecaed;
										box-shadow: 0 0 10px #9ecaed;
									}
								}
							}

							button {
								height: 60px;
								width: 100%;
								border-radius: 5px;
								border: 0;
								background-color: black;
								color: white;
								box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px
										0px,
									rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
								transform: scale(1);
								transition: 0.3s ease-in-out;
								font-weight: 600;
								outline: none;
							}

							button:hover {
								transform: scale(1.05);
								transition: 0.3s ease-in-out;
							}
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 1400px) {
	.new-payment-container .content-container .form-style {
		flex-direction: column !important;
		height: auto !important;
		gap: 0;

		.info-container {
			width: 100% !important;
		}
	}
}
