@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap");
.title-wrap h1 {
  color: #000;
  margin-bottom: 5px;
  font-family: "Inter";
  font-weight: 600;
}

.title-wrap small {
  color: #717987;
}

.new-payment-container {
  width: 100%;
  height: calc(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px;
  padding: 20px 45px 20px 45px;
}

.new-payment-container .content-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-payment-container .content-container form {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.new-payment-container .content-container form .form-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.new-payment-container .content-container form .form-style .info-container {
  height: 100%;
  width: 50%;
  padding: 50px 45px 20px 45px;
}

.new-payment-container .content-container form .form-style .info-container h3 {
  margin-bottom: 25px;
  font-family: "Padauk";
  font-weight: bold;
}

.new-payment-container .content-container form .form-style .info-container h3 i {
  font-size: 13px;
  color: grey;
  font-weight: 400;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap .optional-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap .optional-wrap small {
  color: #b4becc;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap label {
  text-transform: uppercase;
  color: #717987;
  font-size: 13px;
  font-weight: 500;
  font-family: "Padauk" bold;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap input {
  margin-bottom: 40px;
  border-radius: 3px;
  background-color: #f7f7f7;
  border: 0;
  height: 50px;
  text-indent: 10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap input:focus, .new-payment-container .content-container form .form-style .info-container .input-wrap input:valid {
  background-color: white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  outline: none;
  border-color: #9ecaed;
  -webkit-box-shadow: 0 0 10px #9ecaed;
          box-shadow: 0 0 10px #9ecaed;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap #categorySelect {
  margin-bottom: 40px;
  border-radius: 3px;
  background-color: #f7f7f7;
  border: 0;
  height: 50px;
  text-indent: 10px;
  outline: none;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap #categorySelect:focus {
  background-color: white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  outline: none;
  border-color: #9ecaed;
  -webkit-box-shadow: 0 0 10px #9ecaed;
          box-shadow: 0 0 10px #9ecaed;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap #categorySelect:hover {
  cursor: pointer;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 170px;
  width: 100%;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap .amount {
  width: 100%;
  height: 55px;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap .amount input {
  width: 100%;
  height: 100%;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 55px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap .total .amount-wrap {
  height: 100%;
  width: 70%;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap .total .amount-wrap input {
  width: 100%;
  height: 100%;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap .total .add-item {
  height: 100%;
  width: 30%;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap .total .add-item button {
  width: 100%;
  height: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-weight: 600;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap .total .add-item button:hover {
  cursor: pointer;
  background-color: white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  outline: none;
  border-color: #9ecaed;
  -webkit-box-shadow: 0 0 10px #9ecaed;
          box-shadow: 0 0 10px #9ecaed;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap .tax-options {
  width: 100%;
  height: 55px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap .tax-options .tax-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap .tax-options .tax-choice select {
  border-radius: 3px;
  background-color: #f7f7f7;
  border: 0;
  outline: none;
  -webkit-box-shadow: 0 0 10px #9ecaed;
          box-shadow: 0 0 10px #9ecaed;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap .tax-options .tax-choice select:hover {
  cursor: pointer;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap .tax-options .tax-percent,
.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap .tax-options .tax-dollar,
.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap .tax-options .quantity {
  height: 100%;
  width: 20%;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap .tax-options .tax-percent input,
.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap .tax-options .tax-dollar input,
.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap .tax-options .quantity input {
  height: 100%;
  width: 100%;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 0 !important;
  background-color: #f7f7f7 !important;
  text-indent: 10px;
  outline: none !important;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap .tax-options .tax-percent:hover,
.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap .tax-options .tax-dollar:hover,
.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap .tax-options .quantity:hover {
  cursor: none;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap .tax-options .quantity span {
  color: grey;
  position: relative;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap .tax-options .quantity span::before {
  position: absolute;
  top: 0;
  content: "qty: ";
  left: 5px;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap .tax-options .quantity input {
  padding-left: 35px;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap .input-symbol-dollar {
  position: relative;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap .input-symbol-dollar input {
  padding-left: 15px;
}

.new-payment-container .content-container form .form-style .info-container .input-wrap .payment-options-wrap .input-symbol-dollar:before {
  position: absolute;
  top: 0;
  content: "$";
  left: 5px;
}

.new-payment-container .content-container form .items-in-order-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding: 0px 45px 20px 45px;
}

.new-payment-container .content-container form .items-in-order-container h4 {
  margin-bottom: 25px;
}

.new-payment-container .content-container form .items-in-order-container table {
  font-family: "Inter";
  border-collapse: collapse;
  width: 100%;
  display: table;
  border: 1px solid #e8edf5;
}

.new-payment-container .content-container form .items-in-order-container table thead tr {
  background-color: #f9fbfc;
  border: 1px solid #e8edf5;
}

.new-payment-container .content-container form .items-in-order-container table thead tr td {
  font-weight: 800;
  font-size: 14px;
  color: #7e8082 !important;
  padding: 10px;
  padding-left: 3rem;
}

.new-payment-container .content-container form .items-in-order-container table tbody tr {
  background-color: white;
  border: 1px solid #e8edf5;
}

.new-payment-container .content-container form .items-in-order-container table tbody tr:hover {
  background-color: #f5f5f5;
  color: #575758 !important;
}

.new-payment-container .content-container form .items-in-order-container table tbody tr:hover a {
  color: #575758 !important;
}

.new-payment-container .content-container form .items-in-order-container table tbody tr td {
  font-size: 0.9rem;
  color: #7e8082 !important;
  padding: 15px;
  padding-left: 3rem;
}

.new-payment-container .content-container form .items-in-order-container table tbody tr .status div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
}

.new-payment-container .content-container form .complete-order-wrap {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0px 45px 20px 45px;
  gap: 40px;
}

.new-payment-container .content-container form .complete-order-wrap .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 100%;
}

.new-payment-container .content-container form .complete-order-wrap .container h4 {
  margin-bottom: 25px;
}

.new-payment-container .content-container form .complete-order-wrap .container .complete-order-style {
  background-color: #f9fbfc;
  border: 1px solid #e8edf5;
  width: 100%;
  height: 90%;
}

.new-payment-container .content-container form .complete-order-wrap .container .type-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  gap: 10px;
  background-color: white;
  border: none;
}

.new-payment-container .content-container form .complete-order-wrap .container .type-container .type-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-payment-container .content-container form .complete-order-wrap .container .type-container .type-wrap .card,
.new-payment-container .content-container form .complete-order-wrap .container .type-container .type-wrap .cash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  width: 50%;
  height: 60px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-weight: 600;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.new-payment-container .content-container form .complete-order-wrap .container .type-container .type-wrap .card:hover,
.new-payment-container .content-container form .complete-order-wrap .container .type-container .type-wrap .cash:hover {
  cursor: pointer;
  background-color: white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  outline: none;
  border-color: #9ecaed;
  -webkit-box-shadow: 0 0 10px #9ecaed;
          box-shadow: 0 0 10px #9ecaed;
}

.new-payment-container .content-container form .complete-order-wrap .container .type-container .button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  gap: 15px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.new-payment-container .content-container form .complete-order-wrap .container .type-container .button-wrap .card-options {
  display: none;
  height: 60px;
  width: 50%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.new-payment-container .content-container form .complete-order-wrap .container .type-container .button-wrap .card-options div {
  width: 25%;
  height: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-weight: 600;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-payment-container .content-container form .complete-order-wrap .container .type-container .button-wrap .card-options div:hover {
  cursor: pointer;
  background-color: white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  outline: none;
  border-color: #9ecaed;
  -webkit-box-shadow: 0 0 10px #9ecaed;
          box-shadow: 0 0 10px #9ecaed;
}

.new-payment-container .content-container form .complete-order-wrap .container .type-container .button-wrap button {
  height: 60px;
  width: 100%;
  border-radius: 5px;
  border: 0;
  background-color: black;
  color: white;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
          box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  outline: none;
}

.new-payment-container .content-container form .complete-order-wrap .container .type-container .button-wrap button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 1400px) {
  .new-payment-container .content-container .form-style {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    height: auto !important;
    gap: 0;
  }
  .new-payment-container .content-container .form-style .info-container {
    width: 100% !important;
  }
}
/*# sourceMappingURL=create-new-payment.css.map */