//** TicketScout/home_page/home_page.scss
//** Author: Anthony Vidovic
//** Email: Anthonyvidovic@gmail.com

// Font Imports
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap"); // Custom Variables
$primary-purple: #7470fb;
$dark-purple: #3d354b;
$second-dark-purple: #3f3539;
$white-1: #edf5fc;
$white-2: #fafafb;
$light-grey: #b1aec2;
$card-pool: #f9f9f9;

$main-color: #1a202e;
$color-dark: #1d2231;
$text-grey: #8390a2;

* {
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

input[type="search"]::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}
input[type="search"]::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

button:hover,
a:hover,
input:hover {
	cursor: pointer;
}

input:focus {
	cursor: text;
	outline: none;
}

.sidebar {
	width: 280px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	padding: 1rem 1.5rem;
	background-color: $primary-purple;
	color: $white-1;
}

.sidebar-brand {
	height: 70px;
}

.brand-icons span {
	font-size: 1.5rem;
	margin-left: 0.5rem;
}
.brand-icons span:hover {
	cursor: pointer;
}

.sidebar-user {
	margin: 0rem 0rem 1rem 0rem;
	text-align: center;
}

.sidebar-user img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border-left: 2px solid transparent;
	border-right: 2px solid #efefef;
	border-bottom: 2px solid #efefef;
	border-top-width: 2px solid #efefef;
	margin-bottom: 1rem;
}

.sidebar-user h3 {
	font-size: 1rem;
}

.sidebar-user span {
	font-size: 0.8rem;
}

.sidebar-menu {
	margin-top: 3rem;
}

.menu-head {
	text-transform: uppercase;
	color: #8da2fb;
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.sidebar ul {
	margin-bottom: 1.5rem;
}

.sidebar-menu li {
	margin-bottom: 0.7rem;
}

.sidebar-menu li a {
	color: #efefef;
	font-size: 0.95rem;
	display: flex;
	align-items: center;
}

.sidebar-menu li a span {
	font-size: 1.5rem;
	display: inline-block;
	margin-right: 0.8rem;
}

.brand-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;

	h3 span {
		color: $dark-purple;
	}
}

.main-content {
	margin-left: 280px;
}

main {
	padding: 1.5rem;
	background: $card-pool;
	min-height: calc(100vh - 70px);
}

header {
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
	border-radius: 50%;
}

.menu-toggle label {
	height: 60px;
	width: 60px;
	display: grid;
	place-items: center;
	font-size: 1.5rem;
	border-radius: 50%;
}

.main-content header input {
	height: 35px;
	width: 230px;
	border: 0;
	outline: 0;
	background-color: transparent;
	border-bottom: 1px solid $light-grey;
	font-size: 1em;
	color: $dark-purple;
	text-indent: 15px;
	font-family: "exo 2", sans-serif;
	transition: 0.3s ease-in;
}

.main-content header input:focus,
.main-content header input:focus::placeholder {
	transition: 0.3s ease-in;
	border-color: $primary-purple;
	color: $primary-purple;
}

.menu-toggle label:hover {
	background: #efefef;
}

.page-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-actions button {
	outline: none;
	color: #fff;
	background: $primary-purple;
	border: none;
	padding: 0.6rem 1rem;
	margin-left: 1rem;
	border-radius: 3px;
	font-weight: 600;
}

.header-actions button span {
	font-size: 1.2rem;
	margin-right: 0.6rem;
}

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 3rem;
	margin-top: 2rem;
}

.card-single {
	background: #fff;
	padding: 1rem;
	box-sizing: 4px 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
}

.card-flex {
	display: grid;
	grid-template-columns: 70% auto;
}

.card-head span {
	display: block;
	text-transform: uppercase;
	color: #555;
	font-size: 0.9rem;
}

.card-head small {
	font-weight: 600;
	color: #555;
}

.card-info h2 {
	font-size: 2rem;
	color: #333;
}

.card-chart span {
	font-size: 5rem;
}

.recent-ticket-card {
	grid-column: 1/3;
	grid-row: 2/4;

	.card-head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 5px;

		button {
			outline: none;
			color: #fff;
			background: $primary-purple;
			border: none;
			padding: 0.6rem 1rem;
			margin-left: 1rem;
			border-radius: 3px;

			span {
				display: inline-block;
				color: $white-1;
				font-size: 1rem;
			}
		}
	}

	.card-scroll-box {
		margin-top: 10px;
		width: 100%;
		height: 95%;
		overflow-y: auto;

		table {
			border-collapse: collapse;
			width: 100%;

			thead tr {
				border-top: 1px solid #f0f0f0;
				border-bottom: 1px solid #f0f0f0;
			}

			thead td {
				font-weight: 700;
			}

			td {
				padding: 0.5rem 1rem;
				font-size: 0.9rem;
				color: #222;
			}
		}
	}
}

.task-card {
	grid-column: 3;
	grid-row: 2/6;

	span {
		font-size: 1.5rem;
	}
}

.extra-card {
	grid-column: 1/3;
	grid-row: 4/6;

	span {
		font-size: 1.5rem;
	}
}
.model-container.show {
	opacity: 1;
	pointer-events: auto;
}

.model-container {
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	height: 100vh;
	width: 100%;
	transition: opacity 0.5s ease;
	pointer-events: none;

	.model {
		background-color: $card-pool;
		width: 1000px;
		height: 600px;
		max-height: 90%;
		max-width: 90%;
		padding: 50px 25px;
		border-radius: 5px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		display: grid;
		grid-template-columns: 50% 50%;
		grid-gap: 10px;

		.account-settings-card {
			height: 95%;
			margin-top: 5%;
			border-radius: 5px;
		}

		.label {
			color: #344e5c;
			display: block;
			margin-bottom: 10px;
			font-size: 20px;
			font-family: "Mukta", sans-serif;
			font-weight: 600;
		}

		.left-card {
			background-color: #fff;
			box-sizing: 4px 4px 10px rgba(0, 0, 0, 0.1);
			border-radius: 6px;
			padding: 25px 35px;
			display: flex;
			flex-direction: column;

			.update-photo-wrap {
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				img {
					border-radius: 50%;
					width: 75px;
					height: 75px;
					border: 2px solid;
				}

				.button-wrap {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					width: 245px;
					margin-right: 65px;

					#upload,
					#delete {
						background-color: $primary-purple;
						height: 45px;
						border-radius: 5px;
						padding: 10px;
						font-family: "Mukta", sans-serif;
						font-weight: 400;
						font-size: 14px;
					}

					#upload {
						color: $white-2;
						border: 0;
						width: 150px;
					}
					#delete {
						color: rgba($primary-purple, $alpha: 0.8);
						background-color: $white-2;
						border: 1.5px solid $text-grey;
						width: 75px;
					}
				}
			}

			.update-info-wrap {
				margin-top: 40px;
				display: flex;
				flex-direction: column;

				input {
					border: 1px solid $light-grey;
					border-radius: 5px;
					height: 40px;
					width: 400px;
					color: #344e5c;
					line-height: none;
					text-indent: 20px;
					font-size: 13px;
				}

				input::placeholder {
					text-indent: 20px;
					color: #344e5c;
					font-family: "Montserrat";
				}

				input:focus {
					transition: 0.3s ease-in;
					border-color: $primary-purple;
					color: $primary-purple;
				}

				input:valid {
					border-color: $primary-purple;
					color: $primary-purple;
				}

				input:-webkit-autofill:valid {
					color: $primary-purple;
					border-color: $primary-purple;
				}
			}

			.submit-button-wrap {
				width: 100%;
				height: 50px;
				margin-top: 20px;

				button {
					float: right;
					height: 100%;
					width: 150px;
					border: 0;
					border-radius: 5px;
					background-color: $primary-purple;
					color: $white-1;
					font-size: 14px;
				}
			}
		}

		.right-card {
			display: grid;
			grid-template-rows: 50% 50%;
			grid-gap: 10px;

			.top-card {
				padding: 25px 35px;
				border-radius: 5px;
				height: calc(100% - 10px);
				width: calc(100% - 10px);
				background-color: #fff;
				box-sizing: 4px 4px 10px rgba(0, 0, 0, 0.1);
				border-radius: 6px;

				////
			}

			.bottom-card {
				padding: 25px 35px;
				width: calc(100% - 10px);
				border-radius: 5px;
				margin: -10px 0 10px 0;
				background-color: #fff;
				box-sizing: 4px 4px 10px rgba(0, 0, 0, 0.1);
				border-radius: 6px;
				display: flex;
				flex-direction: column;

				.current-psw-wrap {
					input {
						border: 1px solid $light-grey;
						border-radius: 5px;
						height: 35px;
						width: 400px;
						color: #344e5c;
						line-height: none;
						text-indent: 20px;
						margin-top: -10px;
						margin-bottom: 10px;
						font-size: 13px;
					}
				}

				.new-psw-wrap {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					gap: 10px;

					input {
						border: 1px solid $light-grey;
						border-radius: 5px;
						height: 35px;
						width: 190px;
						color: #344e5c;
						line-height: none;
						text-indent: 20px;
						margin-top: -10px;
						font-size: 13px;
					}
				}

				.change-psw-btn-wrap {
					width: 100%;
					height: 50px;
					margin-top: 15px;

					button {
						float: right;
						height: 100%;
						width: 150px;
						border: 0;
						border-radius: 5px;
						background-color: $primary-purple;
						color: $white-1;
						font-size: 14px;
					}
				}

				input:focus {
					transition: 0.3s ease-in;
					border-color: $primary-purple;
					color: $primary-purple;
				}

				input:valid {
					border-color: $primary-purple;
					color: $primary-purple;
				}

				input:-webkit-autofill:valid {
					color: $primary-purple;
					border-color: $primary-purple;
				}
			}
		}
	}
}
