@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button:hover,
a:hover,
input:hover {
  cursor: pointer;
}

input:focus {
  cursor: text;
  outline: none;
}

.menu-toggle label {
  height: 60px;
  width: 60px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  border-radius: 50%;
}

.menu-toggle label:hover {
  background: #efefef;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header h1 {
  color: #2b3154;
  margin-bottom: 5px;
}

.page-header small {
  color: #717987;
}

.header-actions button span {
  font-size: 1.2rem;
  margin-right: 0.6rem;
}

.cards-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards-layout .top-cards-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 275px;
  margin-top: 2%;
}

.cards-layout .top-cards-layout .top-card-style {
  width: 20%;
  height: 100%;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards-layout .top-cards-layout .extended {
  height: 100%;
  width: 35%;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1790px) {
  .cards-layout .top-cards-layout .top-card-style {
    width: 20%;
    height: 100%;
  }
  .cards-layout .top-cards-layout .top-cards-layout {
    height: 225px;
  }
}

@media only screen and (max-width: 1525px) {
  .cards-layout .top-cards-layout .top-card-style {
    width: 20%;
    height: 100%;
  }
  .cards-layout .top-cards-layout .top-cards-layout {
    height: 150px;
  }
}

.cards-layout .top-cards-layout .card1 {
  background-color: #508aff;
}

.cards-layout .top-cards-layout .card2 {
  background-color: #ffc355;
}

.cards-layout .top-cards-layout .card3 {
  background-color: #ff7eae;
}

.cards-layout .top-cards-layout .card4 {
  background-color: #8254ff;
}
/*# sourceMappingURL=dashboard.css.map */