//** TicketScout/home_page/home_page.scss
//** Author: Anthony Vidovic
//** Email: Anthonyvidovic@gmail.com

// Font Imports
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap"); // Custom Variables
$primary-purple: #7470fb;
$dark-purple: #3d354b;
$second-dark-purple: #3f3539;
$white-1: #edf5fc;
$white-2: #fafafb;
$light-grey: #b1aec2;
$card-pool: #e8edf5;

$main-color: #1a202e;
$color-dark: #1d2231;
$text-grey: #8390a2;

// Main Color Scheme
$swatch_1: #e8edf5;
$swatch_2: #050505;
$swatch_3: #b4becc;
$swatch_4: #354250;
$swatch_5: #717987;
$bluetext: #0d2238;

input[type="search"]::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}
input[type="search"]::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

button:hover,
a:hover,
input:hover {
	cursor: pointer;
}

input:focus {
	cursor: text;
	outline: none;
}

.menu-toggle label {
	height: 60px;
	width: 60px;
	display: grid;
	place-items: center;
	font-size: 1.5rem;
	border-radius: 50%;
}

.menu-toggle label:hover {
	background: #efefef;
}

.page-header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	h1 {
		color: #2b3154;
		margin-bottom: 5px;
	}

	small {
		color: $swatch_5;
	}
}

.header-actions button span {
	font-size: 1.2rem;
	margin-right: 0.6rem;
}

.cards-layout {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.top-cards-layout {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 275px;
		margin-top: 2%;

		.top-card-style {
			width: 20%;
			height: 100%;
			border-radius: 20px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.extended {
			height: 100%;
			width: 35%;
			border-radius: 20px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		@media only screen and (max-width: 1790px) {
			.top-card-style {
				width: 20%;
				height: 100%;
			}
			.top-cards-layout {
				height: 225px;
			}
		}
		@media only screen and (max-width: 1525px) {
			.top-card-style {
				width: 20%;
				height: 100%;
			}
			.top-cards-layout {
				height: 150px;
			}
		}

		.card1 {
			background-color: #508aff;
		}
		.card2 {
			background-color: #ffc355;
		}
		.card3 {
			background-color: #ff7eae;
		}
		.card4 {
			background-color: #8254ff;
		}
	}
}
