@import "../../../helper";

.new-customer-container {
	width: 100%;
	height: calc(100vh - 220px);
	@include centerFlexChild;
	border-radius: 10px;
	margin-top: 20px;
	background-color: $white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px;
	padding: 20px 45px 20px 45px;

	.content-container {
		width: 100%;
		height: 100%;

		form {
			width: 100%;
			height: 100%;
			border-radius: 10px;
			@include centerFlexChild;
			flex-direction: row;

			.info-container {
				height: 100%;
				width: 100%;
				padding: 50px 45px 20px 45px;

				h3 {
					margin-bottom: 25px;
					font-family: "Padauk";
					font-weight: bold;
				}

				.input-wrap {
					display: flex;
					flex-direction: column;
					gap: 10px;

					div {
						display: flex;
						justify-content: space-between;
						align-items: center;

						small {
							color: $swatch_3;
						}
					}

					label {
						@include inputLabel;
					}

					input {
						margin-bottom: 40px;
						border-radius: 3px;
						background-color: #f7f7f7;
						border: 0;
						height: 50px;
						text-indent: 10px;

						&:focus,
						&:valid:not(#email) {
							background-color: white;
							transition: 0.3s ease-in-out;
							outline: none;
							border-color: #9ecaed;
							box-shadow: 0 0 10px #9ecaed;
						}
					}
				}

				.buttons-wrap {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: flex-end;
					gap: 50px;

					button {
						height: 50px;
						padding: 5px 10px 5px 10px;
						border-radius: 5px;
						border: 0;
						background-color: black;
						color: white;
						box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
							rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
						transform: scale(1);
						transition: 0.3s ease-in-out;
						font-weight: 600;

						&:hover {
							transform: scale(1.05);
							transition: 0.3s ease-in-out;
						}

						&:first-child {
							background-color: #5bb0ff;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-height: 885px) {
	.new-customer-container {
		height: auto;

		.info-container {
			padding-top: 20px !important;

			.input-wrap {
				input {
					margin-bottom: 25px !important;
				}
			}
		}
	}
}
