@import "../../../helper";

.sidebar {
	width: 220px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	padding: 1rem 1.5rem;
	background: linear-gradient(
		177.33deg,
		#ffffff 0%,
		rgba(255, 255, 255, 0.5) 106.55%
	);
}

.sidebar-brand {
	height: 100px;
	@include centerFlexChild;

	.brand-flex {
		h2 {
			color: $swatch_4; //TODO: color choice?
		}
		h2 span {
			color: $swatch_3; //TODO: color choice?
		}
	}
}

.sidebar-menu {
	@include centerFlexChild;

	#nav_list {
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.menu-link {
		display: flex;
		align-items: center;
		height: 42px;
		width: 190px;
		border-radius: 5px;
		transition: 0.15s ease-in-out;
		transform: scale(1);
		text-align: center;
		margin-top: 1.25em;
		font-size: 1rem;
		color: #7d8a96; //TODO: color choice?

		span {
			margin-top: 5px;
			font-size: 16px;
			height: 20px;
			width: 20px;
			margin-right: 1rem;
			margin-left: 1.3rem;
			color: #7d8a96; //TODO: color choice?
		}
	}

	.active,
	.menu-link:hover {
		background-color: $activeMenuItem;
		color: $white !important;

		span {
			color: $white;
		}
	}

	.menu-link:hover {
		transition: 0.3s ease-in-out;
		transform: scale(1.03);
	}
}

.main-content {
	margin-left: 220px;
	padding: 0 10px 0 10px;
	background-color: $cardPool;

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 70px;
		padding: 1rem 1.5rem;

		.search-box {
			display: flex;
			align-items: center;

			input {
				height: 45px;
				width: 200px;
				background: #ffffff;
				box-shadow: 0px 1px 244px 10px rgba(65, 66, 115, 0.16);
				border-radius: 10px;
				border: none;
				font-size: 0.9em;
				text-indent: 35px;
				transition: 0.3s ease-in;
				color: $primaryTextGrey;
			}

			span {
				position: absolute;
				margin-left: 7px;
				color: $grey;
			}

			.create-new {
				width: 40px;
				height: 40px;
				border-radius: 5px;
				background-color: transparent;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: 0.2s ease-in-out;
				transform: scale(1);
				color: $grey;
			}

			.create-new:hover {
				cursor: pointer;
				transform: scale(1.1);
				transition: 0.3s ease-in-out;
			}

			.create-new-dropdown {
				display: none;
				position: fixed;
				width: 175px;
				height: 120px;
				top: 55px;
				left: 300px;
				border-radius: 5px;
			}

			.show-create-new-dd {
				display: flex;
				z-index: 999;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				border: 1px solid $swatch_1;
				background-color: white;

				div {
					width: 100%;
					height: 40px;
					background-color: white;
					display: flex;
					align-items: center;
					justify-content: flex-start;
					padding-left: 20px;
					transition: 0.3s ease-in-out;
					font-size: 0.9rem;
					color: #7e8082 !important;
					border: 1px solid $swatch_1;

					&:hover {
						background-color: #f5f5f5;
						color: #575758 !important;
						cursor: pointer;
					}

					&:first-child {
						border-top-left-radius: 5px;
						border-top-right-radius: 5px;
					}
					&:last-child {
						border-bottom-left-radius: 5px;
						border-bottom-right-radius: 5px;
					}
				}
			}

			.search-results-dropdown {
				display: none;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				position: fixed;
				width: 250px;
				height: auto;
				top: 60px;
				border: 1px solid $swatch_1;
				border-radius: 5px;
				background-color: #fff;
				z-index: 998;

				.result {
					@include centerFlexChild;
					width: 100%;
					height: 30px;
					background-color: white;
					transition: 0.3s ease-in-out;
					font-size: 0.9rem;
					color: #7e8082 !important;
					border: 1px solid $swatch_1;

					&:hover {
						background-color: #f5f5f5;
						color: #575758 !important;
						a {
							color: #575758 !important;
						}
					}

					&:first-child {
						border-top-left-radius: 5px;
						border-top-right-radius: 5px;
					}
					&:last-child {
						border-bottom-left-radius: 5px;
						border-bottom-right-radius: 5px;
					}
				}
			}
		}

		.date-wrap {
			@include centerFlexChild;
			gap: 10px;
			color: $swatch_5;

			span {
				color: #434649;
				font-weight: 500;
				font-size: 16px;
			}
		}

		.profile-wrap {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			gap: 15px;

			.time-clock-animation {
				transition: 2s ease-in-out;
				transform: translate(-170px) !important;
				border-top-right-radius: 0 !important;
				border-bottom-right-radius: 0 !important;
			}

			.time-clock-wrap {
				display: flex;
				width: 80px;
				flex-direction: row;
				justify-content: flex-end;

				.clock-box,
				.clock-in-btn,
				.clock-out-btn {
					width: 40px;
					height: 40px;
					border-radius: 5px;
					background-color: white;
					@include centerFlexChild;
					transition: 0.15s ease-in-out;
					box-shadow: 0 1px 1px $grey;

					&:hover {
						cursor: pointer;
					}

					i {
						font-size: 20px;
					}
				}
				.clock-in-btn {
					display: none;
					background-color: lightskyblue;

					.fa-play-circle {
						color: white;
					}
				}

				.clock-out-btn {
					display: none;
					background-color: lightcoral;
				}

				.show-time-clock-btn {
					display: flex;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}

				.remove-border-right-radius {
					border-top-right-radius: 0px;
					border-bottom-right-radius: 0px;
				}
			}

			.initial-box {
				width: 40px;
				height: 40px;
				border-radius: 5px;
				background-color: #e2e9f5;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.name-wrap {
				display: flex;
				flex-direction: column;
				align-items: start;
				justify-content: center;
				gap: 2px;
				height: 40px;
				margin-right: 20px;

				h5 {
					font-size: 15px;
					color: #434649;
					font-weight: 600;
				}
				small {
					font-size: 11px;
					color: #737374;
				}
			}

			.icon-wrap {
				color: $swatch_5;
				transition: 0.15s ease-in-out;
				transform: scale(1);
				font-size: 18px;

				i {
					transition: 0.15s ease-in-out;
				}
			}

			.icon-wrap:hover {
				transition: 0.15s ease-in-out;
				transform: scale(1.2);
				cursor: pointer;
			}

			.rotate {
				transition: 0.15s ease-in-out;
				transform: rotate(180deg);
			}
		}
	}
}

.dropdown {
	display: none;
	position: fixed;
	width: 175px;
	height: 80px;
	top: 60px;
	right: 30px;
	background-color: #fff;
	border-radius: 5px;
}

.show-dd {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 999;

	a {
		width: 100%;
		height: 40px;
		background-color: white;
		display: flex;
		align-items: center;
		transition: 0.3s ease-in-out;
		padding-left: 20px;
		font-size: 0.9rem;
		color: #7e8082 !important;
		border: 1px solid $swatch_1;

		&:hover {
			background-color: #f5f5f5;
			color: #575758 !important;
			a {
				color: #575758 !important;
			}
		}

		&:first-child {
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
		&:last-child {
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
}

main {
	padding: 2rem;
	height: calc(100vh - 70px);
}

//Remove "Today 'date'" at top of screen
@media only screen and (max-width: 975px) {
	.date-wrap {
		visibility: hidden;
	}

	.main-content header {
		justify-content: space-around;
	}
}
