@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Fira Sans";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button:hover,
a:hover,
input:hover {
  cursor: pointer;
}

input:focus {
  cursor: text;
  outline: none;
}

a {
  text-decoration: none;
}

.sidebar {
  width: 220px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  padding: 1rem 1.5rem;
  background-color: white;
}

.sidebar-brand {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-brand .brand-flex h2 {
  color: #354250;
}

.sidebar-brand .brand-flex h2 span {
  color: #b4becc;
}

.sidebar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-menu #nav_list {
  background-color: transparent;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar-menu .menu-link {
  color: #7d8a96;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  height: 42px;
  width: 190px;
  border-radius: 5px;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  text-align: center;
  margin-top: 1.25em;
  font-size: 1rem;
}

.sidebar-menu .menu-link span {
  margin-top: 5px;
  font-size: 16px;
  height: 20px;
  width: 20px;
  margin-right: 1rem;
  margin-left: 1.3rem;
  color: #7d8a96;
}

.sidebar-menu .active,
.sidebar-menu .menu-link:hover {
  background-color: #57b8ff;
  color: white !important;
}

.sidebar-menu .active span,
.sidebar-menu .menu-link:hover span {
  color: white;
}

.sidebar-menu .menu-link:hover {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.main-content {
  margin-left: 220px;
  padding: 0 10px 0 10px;
  background-color: #f6f8fa;
}

.main-content header {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.5rem;
}

.main-content header .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content header .search-box input {
  height: 35px;
  width: 190px;
  border: 0;
  border-bottom: 1px solid lightgray;
  outline: 0;
  background-color: transparent;
  font-size: 0.9em;
  text-indent: 35px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  font-family: "Inter";
}

.main-content header .search-box span {
  position: absolute;
  margin-left: 7px;
  color: #b1aec2;
  font-family: "Inter";
}

.main-content header .search-box .create-new {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  color: #b1aec2;
}

.main-content header .search-box .create-new:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.main-content header .search-box .create-new-dropdown {
  display: none;
  position: fixed;
  width: 175px;
  height: 120px;
  top: 55px;
  left: 300px;
  border-radius: 5px;
}

.main-content header .search-box .show-create-new-dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e8edf5;
  background-color: white;
}

.main-content header .search-box .show-create-new-dd div {
  width: 100%;
  height: 40px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 20px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-size: 0.9rem;
  color: #7e8082 !important;
  border: 1px solid #e8edf5;
}

.main-content header .search-box .show-create-new-dd div:hover {
  background-color: #f5f5f5;
  color: #575758 !important;
  cursor: pointer;
}

.main-content header .search-box .show-create-new-dd div:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.main-content header .search-box .show-create-new-dd div:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.main-content header .search-box .search-results-dropdown {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: fixed;
  width: 250px;
  height: auto;
  top: 60px;
  border: 1px solid #e8edf5;
  border-radius: 5px;
  background-color: #fff;
  z-index: 998;
}

.main-content header .search-box .search-results-dropdown .result {
  width: 100%;
  height: 30px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-size: 0.9rem;
  color: #7e8082 !important;
  border: 1px solid #e8edf5;
}

.main-content header .search-box .search-results-dropdown .result:hover {
  background-color: #f5f5f5;
  color: #575758 !important;
}

.main-content header .search-box .search-results-dropdown .result:hover a {
  color: #575758 !important;
}

.main-content header .search-box .search-results-dropdown .result:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.main-content header .search-box .search-results-dropdown .result:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.main-content header .date-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  color: #717987;
}

.main-content header .date-wrap span {
  color: #2b3154;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
}

.main-content header .profile-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 15px;
}

.main-content header .profile-wrap .time-clock-animation {
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  -webkit-transform: translate(-170px) !important;
          transform: translate(-170px) !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.main-content header .profile-wrap .time-clock-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-content header .profile-wrap .time-clock-wrap .clock-box,
.main-content header .profile-wrap .time-clock-wrap .clock-in-btn,
.main-content header .profile-wrap .time-clock-wrap .clock-out-btn {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  -webkit-box-shadow: 0 1px 1px #b1aec2;
          box-shadow: 0 1px 1px #b1aec2;
}

.main-content header .profile-wrap .time-clock-wrap .clock-box:hover,
.main-content header .profile-wrap .time-clock-wrap .clock-in-btn:hover,
.main-content header .profile-wrap .time-clock-wrap .clock-out-btn:hover {
  cursor: pointer;
}

.main-content header .profile-wrap .time-clock-wrap .clock-box i,
.main-content header .profile-wrap .time-clock-wrap .clock-in-btn i,
.main-content header .profile-wrap .time-clock-wrap .clock-out-btn i {
  font-size: 20px;
}

.main-content header .profile-wrap .time-clock-wrap .clock-in-btn {
  display: none;
  background-color: lightskyblue;
}

.main-content header .profile-wrap .time-clock-wrap .clock-in-btn .fa-play-circle {
  color: white;
}

.main-content header .profile-wrap .time-clock-wrap .clock-out-btn {
  display: none;
  background-color: lightcoral;
}

.main-content header .profile-wrap .time-clock-wrap .show-time-clock-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.main-content header .profile-wrap .time-clock-wrap .remove-border-right-radius {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.main-content header .profile-wrap .initial-box {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #e2e9f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content header .profile-wrap .name-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2px;
  height: 40px;
  margin-right: 20px;
}

.main-content header .profile-wrap .name-wrap h5 {
  font-size: 15px;
  color: #0d2238;
  font-family: "Inter";
  font-weight: 600;
}

.main-content header .profile-wrap .name-wrap small {
  font-size: 11px;
  color: #717987;
}

.main-content header .profile-wrap .icon-wrap {
  color: #717987;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  font-size: 18px;
}

.main-content header .profile-wrap .icon-wrap i {
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.main-content header .profile-wrap .icon-wrap:hover {
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.main-content header .profile-wrap .rotate {
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dropdown {
  display: none;
  position: fixed;
  width: 175px;
  height: 80px;
  top: 60px;
  right: 30px;
  background-color: #fff;
  border-radius: 5px;
}

.show-dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

.show-dd a {
  width: 100%;
  height: 40px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  padding-left: 20px;
  font-size: 0.9rem;
  color: #7e8082 !important;
  border: 1px solid #e8edf5;
}

.show-dd a:hover {
  background-color: #f5f5f5;
  color: #575758 !important;
}

.show-dd a:hover a {
  color: #575758 !important;
}

.show-dd a:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.show-dd a:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

main {
  padding: 2rem;
  background: #f6f8fa;
  min-height: calc(100vh - 70px);
}

@media only screen and (max-width: 975px) {
  .date-wrap {
    visibility: hidden;
  }
  .main-content header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=layout.css.map */